<div class="legend-item">
  <div class="grid-x">
    <div class="cell auto">
      <label>
        <input
          type="checkbox"
          onClick={{action "addOrRemoveMultiple" group.codes selected}}
          checked={{if selectedInGroup true false}}
          indeterminate={{isIndeterminateGroup}}
          data-test-grouped-parent={{group.name}}
        />
        {{group.name}}
        {{#if group.style}}
          <span style={{sanitize group.style}} class="indeterminate-hider">
            <FaIcon @icon="square" />
          </span>
        {{/if}}
      </label>
    </div>
    {{#if group.tooltip}}
      <div class="cell shrink">
        {{labs-ui/icon-tooltip
          tip=group.tooltip
          side='right'
          fixedWith=true
        }}
      </div>
    {{/if}}
  </div>
</div>
{{#if hasMany}}
  {{#if group.codes}}
    <input
      id="nested-{{group.name}}"
      class="checkbox-hide-sibling"
      type="checkbox"
      checked={{group.checked}}
    />
    <label for="nested-{{group.name}}" class="hidable-sibling-toggle top-right">
      <FaIcon @icon="angle-up" />
    </label>
  {{/if}}
  <ul class="nested columns-3 hidable-sibling" data-test-grouped={{group.name}}>
    {{#each group.codes as |code|}}
      <li>
        <label>
          <input
            type="checkbox"
            onClick={{action "addOrRemove" code selected bubbles=false}}
            checked={{if (intersect (array code) selected) true false}}
            data-test-grouped={{code}}
          />
          {{code}}
        </label>
      </li>
    {{/each}}
  </ul>
{{/if}}