<div class="legend-item">
  <div class="grid-x">
    <div class="cell auto">
      <label>
        <input
          type="checkbox"
          onClick={{action "addOrRemoveMultiple" this.group.codes this.selected}}
          checked={{if this.selectedInGroup true false}}
          indeterminate={{this.isIndeterminateGroup}}
          data-test-grouped-parent={{this.group.name}}
        />
        {{this.group.name}}

        {{#if this.group.style}}
          <span style={{sanitize this.group.style}} class="indeterminate-hider">
            {{#if this.cityCouncilToggled}}
              <FaIcon
                class="nyc-council-style"
                @icon="minus" />
              <FaIcon
                class="nyc-council-style"
                @icon="minus" />
              <FaIcon
                class="nyc-council-style"
                @icon="minus" />
            {{else}}
              <FaIcon @icon="square" />
            {{/if}}

          </span>
        {{/if}}
      </label>
    </div>
    {{#if this.group.tooltip}}
      <div class="cell shrink">
        {{labs-ui/icon-tooltip
          tip=this.group.tooltip
          side='right'
          fixedWith=true
        }}
      </div>
    {{/if}}
  </div>
</div>
{{#if this.hasMany}}
  {{#if this.group.codes}}
    <input
      id="nested-{{this.group.name}}"
      class="checkbox-hide-sibling"
      type="checkbox"
      checked={{this.group.checked}}
    />
    <label for="nested-{{this.group.name}}" class="hidable-sibling-toggle top-right">
      <FaIcon @icon="angle-up" />
    </label>
  {{/if}}
  <ul class="nested columns-3 hidable-sibling" data-test-grouped={{this.group.name}}>
    {{#each this.group.codes as |code|}}
      <li>
        <label>
          <input
            type="checkbox"
            onClick={{action "addOrRemove" code this.selected bubbles=false}}
            checked={{if (intersect (array code) this.selected) true false}}
            data-test-grouped={{code}}
          />
          {{code}}
        </label>
      </li>
    {{/each}}
  </ul>
{{/if}}
