{{!
  This template overrides the template for an addon, ember-mapbox-composer.
  e-mapbox-composer uses private APIs in e-maplibre-gl. Those changed, so we need to
  manually configure the interface here.
}}
{{#if this._loader.isLoaded}}
  <div   {{did-insert (fn this._onLoad this._loader.map)}} class="labs-map-loaded"></div>
  {{!-- TODO: Added here to trigger private method override. Please refactor --}}
  {{!-- {{run this '_onLoad' this._loader.map}} --}}

  {{yield
    (hash
      call=(component "maplibre-gl-call" obj=this._loader.map)
      control=(component "maplibre-gl-control" map=this._loader.map)
      image=(component "maplibre-gl-image" map=this._loader.map)
      layer=(component "maplibre-gl-layer" map=this._loader.map)
      marker=(component 'maplibre-gl-marker' map=this._loader.map MapboxGl=this._loader.MapboxGl)
      on=(component "maplibre-gl-on" eventSource=this._loader.map)
      popup=(component 'maplibre-gl-popup' map=this._loader.map MapboxGl=this._loader.MapboxGl)
      source=(component "maplibre-gl-source" map=this._loader.map)
      instance=this._loader.map
      mapInstance=this._loader.map
      labs-layers=(component
        "labs-layers"
        map=this._loader.map
        layerGroups=layerGroups
        hoveredFeature=hoveredFeature
      )
    )
  }}
{{else if this._loader.error}}
  <div class="error" {{did-insert (fn this.handleError this._loader.error)}}></div>
  {{#if (has-block 'inverse')}}
    {{yield this._loader.error to='inverse'}}
  {{else}}
    {{! template-lint-disable no-log }}
    {{log 'error rendering maplibre-gl' this._loader.error}}
  {{/if}}
{{/if}}
