<button {{action (mut closed) (not closed)}} class="button hollow expanded hide-for-medium hide-for-print{{if closed ' no-margin'}}">
  {{#if closed}}{{fa-icon 'chevron-down'}} Edit Map Layers{{else}}{{fa-icon 'chevron-up'}} Close Map Layers{{/if}}
</button>

<div id="layers-menu" class="{{if closed 'show-for-medium'}} hide-for-print">
  {{#layer-palette-accordion
    closed=false
    title='Zoning and Land Use'}}
    {{#layer-menu-item for='pluto' as |item|}}
      {{#if (lt mainMap.currentZoom item.layer.minzoom)}}
        {{info-tooltip iconName='warning' tip='Zoom in more to see'}}
      {{/if}}
      {{#if item.layer.visible}}
        <div class="checkbox-wrapper"
          onclick={{queue
          (action 'toggleFill')
          (action item.updatePaintFor
            'pluto-fill'
            (if plutoFill (hash fill-opacity=0.7) (hash fill-opacity=0))
          )}}>
          {{input type='checkbox'
            checked=plutoFill}}
          Show Land Use Colors
        </div>
        {{#if plutoFill}}
          <ul class="layer-key">
            <li><span style="color:#FEFFA8;">{{fa-icon "square"}}</span>One &amp; Two Family Buildings</li>
            <li><span style="color:#FCB842;">{{fa-icon "square"}}</span>Multi-Family Walk-Up Buildings</li>
            <li><span style="color:#B16E00;">{{fa-icon "square"}}</span>Multi-Family Elevator Buildings</li>
            <li><span style="color:#ff8341;">{{fa-icon "square"}}</span>Mixed Residential &amp; Commercial Buildings</li>
            <li><span style="color:#fc2929;">{{fa-icon "square"}}</span>Commercial &amp; Office Buildings</li>
            <li><span style="color:#E362FB;">{{fa-icon "square"}}</span>Industrial &amp; Manufacturing</li>
            <li><span style="color:#E0BEEB;">{{fa-icon "square"}}</span>Transportation &amp; Utility</li>
            <li><span style="color:#44A3D5;">{{fa-icon "square"}}</span>Public Facilities &amp; Institutions</li>
            <li><span style="color:#78D271;">{{fa-icon "square"}}</span>Open Space &amp; Outdoor Recreation</li>
            <li><span style="color:#BAB8B6;">{{fa-icon "square"}}</span>Parking Facilities</li>
            <li><span style="color:#555555;">{{fa-icon "square"}}</span>Vacant Land</li>
            <li><span style="color:#E7E7E7;">{{fa-icon "square"}}</span>Other</li>
          </ul>
        {{/if}}
      {{/if}}
    {{/layer-menu-item}}

    {{#layer-menu-item
      for='zoning-districts' as |item|}}
      {{#if item.layer.visible}}
        {{#layer-multi-select-control
          column='primaryzone'
          source='zoning-districts'
          parentComponent=item.layer
          as |multiSelect|}}
            <ul class="layer-menu-item--group-checkboxes">
              <li>
                <label>{{group-checkbox
                  refs=(array 'qps.C1' 'qps.C2' 'qps.C3' 'qps.C4' 'qps.C5' 'qps.C6' 'qps.C7' 'qps.C8')
                  values=(array qps.C1 qps.C2 qps.C3 qps.C4 qps.C5 qps.C6 qps.C7 qps.C8)
                  scope=qps}}Commercial Districts <span style="background-color:#ff0000;" class="icon polygon legend-icon"></span></label>

                <input id="nested-commercial" class="checkbox-hide-sibling" type="checkbox" checked>
                <label for="nested-commercial" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

                <ul class="nested columns-3 hidable-sibling">
                  <li><label>{{multiSelect.checkbox value='C1' checked=qps.C1}}C1</label></li>
                  <li><label>{{multiSelect.checkbox value='C2' checked=qps.C2}}C2</label></li>
                  <li><label>{{multiSelect.checkbox value='C3' checked=qps.C3}}C3</label></li>
                  <li><label>{{multiSelect.checkbox value='C4' checked=qps.C4}}C4</label></li>
                  <li><label>{{multiSelect.checkbox value='C5' checked=qps.C5}}C5</label></li>
                  <li><label>{{multiSelect.checkbox value='C6' checked=qps.C6}}C6</label></li>
                  <li><label>{{multiSelect.checkbox value='C7' checked=qps.C7}}C7</label></li>
                  <li><label>{{multiSelect.checkbox value='C8' checked=qps.C8}}C8</label></li>
                </ul>
              </li>
              <li>
                <label>{{group-checkbox
                  refs=(array 'qps.M1' 'qps.M2' 'qps.M3')
                  values=(array qps.M1 qps.M2 qps.M3)
                  scope=qps}}Manufacturing Districts <span style="background-color:#e362fb;" class="icon polygon legend-icon"></span></label>

                <input id="nested-manufacturing" class="checkbox-hide-sibling" type="checkbox" checked>
                <label for="nested-manufacturing" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

                <ul class="nested columns-3 hidable-sibling">
                  <li><label>{{multiSelect.checkbox value='M1' checked=qps.M1}}M1</label></li>
                  <li><label>{{multiSelect.checkbox value='M2' checked=qps.M2}}M2</label></li>
                  <li><label>{{multiSelect.checkbox value='M3' checked=qps.M3}}M3</label></li>
                </ul>
              </li>
              <li>
                <label>{{group-checkbox
                  refs=(array 'qps.R1' 'qps.R2' 'qps.R3' 'qps.R4' 'qps.R5' 'qps.R6' 'qps.R7' 'qps.R8' 'qps.R9' 'qps.R10')
                  values=(array qps.R1 qps.R2 qps.R3 qps.R4 qps.R5 qps.R6 qps.R7 qps.R8 qps.R9 qps.R10)
                  scope=qps}}Residential Districts  <span style="background-color:#f2f618;" class="icon polygon legend-icon"></span></label>

                <input id="nested-residential" class="checkbox-hide-sibling" type="checkbox" checked>
                <label for="nested-residential" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

                <ul class="nested columns-3 hidable-sibling">
                  <li><label>{{multiSelect.checkbox value='R1' checked=qps.R1}}R1</label></li>
                  <li><label>{{multiSelect.checkbox value='R2' checked=qps.R2}}R2</label></li>
                  <li><label>{{multiSelect.checkbox value='R3' checked=qps.R3}}R3</label></li>
                  <li><label>{{multiSelect.checkbox value='R4' checked=qps.R4}}R4</label></li>
                  <li><label>{{multiSelect.checkbox value='R5' checked=qps.R5}}R5</label></li>
                  <li><label>{{multiSelect.checkbox value='R6' checked=qps.R6}}R6</label></li>
                  <li><label>{{multiSelect.checkbox value='R7' checked=qps.R7}}R7</label></li>
                  <li><label>{{multiSelect.checkbox value='R8' checked=qps.R8}}R8</label></li>
                  <li><label>{{multiSelect.checkbox value='R9' checked=qps.R9}}R9</label></li>
                  <li><label>{{multiSelect.checkbox value='R10' checked=qps.R10}}R10</label></li>
                </ul>
              </li>
              <li><label>{{multiSelect.checkbox value='PA' checked=qps.PA}}Parks <span style="background-color:#78D271;" class="icon polygon legend-icon"></span></label></li>
              <li><label>{{multiSelect.checkbox value='BP' checked=qps.BP}}Battery Park City <span style="background-color:#666666;" class="icon polygon legend-icon"></span></label></li>
            </ul>
        {{/layer-multi-select-control}}
      {{/if}}
    {{/layer-menu-item}}

    {{#layer-menu-item
      for='commercial-overlays'
      as |item|}}
      {{#if item.layer.visible}}
        {{#layer-multi-select-control
          source='commercial-overlays'
          column='overlay'
          parentComponent=item.layer
          as |multiSelect|}}
            <ul class="layer-menu-item--group-checkboxes">
              <li>
                <label>{{group-checkbox
                  refs=(array 'qps.c11' 'qps.c12' 'qps.c13' 'qps.c14' 'qps.c15')
                  values=(array qps.c11 qps.c12 qps.c13 qps.c14 qps.c15)
                  scope=qps}}C1-1 through C1-5</label>

                <input id="nested-c1" class="checkbox-hide-sibling" type="checkbox" checked>
                <label for="nested-c1" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

                <ul class="nested columns-2 hidable-sibling">
                  <li><label>{{multiSelect.checkbox value='C1-1' checked=qps.c11}}C1-1</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-2' checked=qps.c12}}C1-2</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-3' checked=qps.c13}}C1-3</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-4' checked=qps.c14}}C1-4</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-5' checked=qps.c15}}C1-5</label></li>
                </ul>
              </li>
              <li>
                <label>{{group-checkbox
                  refs=(array 'qps.c21' 'qps.c22' 'qps.c23' 'qps.c24' 'qps.c25')
                  values=(array qps.c21 qps.c22 qps.c23 qps.c24 qps.c25)
                  scope=qps}}C2-1 through C2-5</label>

                <input id="nested-c2" class="checkbox-hide-sibling" type="checkbox" checked>
                <label for="nested-c2" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

                <ul class="nested columns-2 hidable-sibling">
                  <li><label>{{multiSelect.checkbox value='C2-1' checked=qps.c21}}C2-1</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-2' checked=qps.c22}}C2-2</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-3' checked=qps.c23}}C2-3</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-4' checked=qps.c24}}C2-4</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-5' checked=qps.c25}}C2-5</label></li>
                </ul>
              </li>
            </ul>
        {{/layer-multi-select-control}}
      {{/if}}
    {{/layer-menu-item}}

    {{#layer-menu-item for='zoning-map-amendments' as |item|}}
      {{#if item.layer.visible}}
        {{item.range-slider
            source='zoning-map-amendments'
            column='effective'}}
      {{/if}}
    {{/layer-menu-item}}

    {{layer-menu-item for='zoning-map-amendments-pending'}}
    {{layer-menu-item for='special-purpose-districts'}}
    {{layer-menu-item for='special-purpose-subdistricts'}}
    {{layer-menu-item for='limited-height-districts'}}
  {{/layer-palette-accordion}}

  {{#layer-palette-accordion
    closed=true
    title='Supporting Zoning Layers'
    as |item|}}

    {{layer-menu-item for='mandatory-inclusionary-housing'}}
    {{layer-menu-item for='inclusionary-housing'}}
    {{layer-menu-item for='transit-zones'}}
    {{#layer-menu-item for='fresh' as |item|}}
      {{#if item.layer.visible}}
      <ul class="layer-key">
        <li><span style="color:#0B9390;opacity:0.4;">{{fa-icon "square"}}</span>Zoning incentives</li>
        <li><span style="color:#30BF4E;opacity:0.4;">{{fa-icon "square"}}</span>Zoning and discretionary tax incentives</li>
        <li><span style="color:#8FE339;opacity:0.4;">{{fa-icon "square"}}</span>Discretionary tax incentives</li>
      </ul>
      {{/if}}
    {{/layer-menu-item}}
    {{#layer-menu-item for='sidewalkcafes' as |item|}}
      {{#if item.layer.visible}}
        <ul class="layer-key">
          <li><span style="color:#28AD15;">{{fa-icon "minus"}}</span>All Cafes Permitted</li>
          <li><span style="color:#CC3DCA;">{{fa-icon "minus"}}</span>Small Cafes Permitted</li>
          <li><span style="color:#216BC6;">{{fa-icon "minus"}}</span>Unenclosed and Small Cafes Permitted</li>
        </ul>
      {{/if}}
    {{/layer-menu-item}}
    {{layer-menu-item for='low-density-growth-mgmt-areas'}}
    {{layer-menu-item for='coastal-zone-boundary'}}
    {{layer-menu-item for='waterfront-access-plan'}}
    {{layer-menu-item for='historic-districts'}}
    {{#layer-menu-item for='landmarks' as |item|}}
      {{#if item.layer.visible}}
        <ul class="layer-key">
          <li><span style="color:rgba(147, 245, 201, 1);">{{fa-icon "circle"}}</span>Individual Landmarks</li>
          <li><span style="color:rgba(152, 152, 247, 1);">{{fa-icon "circle"}}</span>Interior Landmarks</li>
          <li><span style="color:purple;">{{fa-icon "square"}}</span>Scenic Landmarks</li>
        </ul>
      {{/if}}
    {{/layer-menu-item}}
    {{#layer-menu-item for='effective-flood-insurance-rate-2007' as |item|}}
      {{#if item.layer.visible}}
        <ul class="layer-key">
          <li><span style="color:#0084a8;">{{fa-icon "circle"}}</span>V Zone {{info-tooltip side="right" tip="Portion of the 1% annual chance floodplain subject to high velocity wave action (a breaking wave 3 feet high or larger). V Zones are subject to more stringent building requirements than other zones because of the damaging force of waves."}}</li>
          <li><span style="color:#00a9e6;">{{fa-icon "circle"}}</span>A Zone {{info-tooltip side="right" tip="A portion of the area subject to flooding from the 1% annual chance flood. These areas are not subject to high velocity wave action but are still considered high risk flooding areas."}}</li>
        </ul>
      {{/if}}
    {{/layer-menu-item}}
    {{#layer-menu-item for='preliminary-flood-insurance-rate' as |item|}}
      {{#if item.layer.visible}}
        <ul class="layer-key">
          <li><span style="color:#0084a8;">{{fa-icon "circle"}}</span>V Zone {{info-tooltip side="right" tip="Portion of the 1% annual chance floodplain subject to high velocity wave action (a breaking wave 3 feet high or larger). V Zones are subject to more stringent building requirements than other zones because of the damaging force of waves."}}</li>
          <li><span style="color:#00a9e6;">{{fa-icon "circle"}}</span>A Zone {{info-tooltip side="right" tip="A portion of the area subject to flooding from the 1% annual chance flood. These areas are not subject to high velocity wave action but are still considered high risk flooding areas."}}</li>
        </ul>
      {{/if}}
    {{/layer-menu-item}}
    {{layer-menu-item for='business-improvement-districts'}}
    {{#layer-menu-item for='e-designations' as |item|}}
      {{#if item.layer.visible}}
        <ul class="layer-key">
          <li><span style="color:#3a28dd;">{{fa-icon "circle-o"}}</span>E-designation</li>
        </ul>
      {{/if}}
    {{/layer-menu-item}}
  {{/layer-palette-accordion}}

  {{#layer-palette-accordion
    closed=true
    title='Administrative Boundaries'}}
    {{layer-menu-item for='boroughs'}}
    {{layer-menu-item for='community-districts'}}
    {{layer-menu-item for='nyccouncildistricts'}}
    {{layer-menu-item for='nysenatedistricts'}}
    {{layer-menu-item for='assemblydistricts'}}
    {{layer-menu-item for='neighborhood-tabulation-areas'}}
  {{/layer-palette-accordion}}

  {{#layer-palette-accordion
    closed=true
    title='Basemaps'}}
    {{layer-menu-item for='subway'}}
    {{layer-menu-item for='building-footprints'}}
    {{#layer-menu-item for='threed-buildings' as |item|}}
      {{#if item.layer.visible}}
      <ul class="layer-key">
        <li>Drag the compass arrow (<span style="padding: 0; margin-right: -5px; margin-left: -5px;" class="mapboxgl-ctrl-icon mapboxgl-ctrl-compass"><span style="transform: rotate(0deg) scale(0.7); margin: 0; transform-origin: 50% 100%; position: relative; top: 0.25rem; margin-top: -8px;" class="mapboxgl-ctrl-compass-arrow"></span></span>) to adjust the bearing of the map. Click to reset north.</li>
        <li>CTRL + drag the map (or CTRL + arrow keys) to adjust both pitch and bearing.</li>
      </ul>
      {{/if}}
    {{/layer-menu-item}}

    {{#layer-menu-item for='aerials' as |item|}}
      {{#if item.layer.visible}}
        {{item.radio-selector
          qps=qps
          classNames='list-float-3'
        }}
      {{/if}}
    {{/layer-menu-item}}

  {{/layer-palette-accordion}}

  <a {{action resetQueryParams}} class="button gray small reset-map-button" disabled={{isDefault}}>
    {{fa-icon "undo"}} Reset Map Layers
  </a>

</div>
{{yield}}
