{{#if (or (and isCarto configWithTemplate.isSuccessful) (not isCarto))}}
  {{#if (and config visible)}}
    {{#map.source 
      sourceId=config.id 
      options=sourceOptions as |source|}}
      {{#each config.layers as |layerConfig|}}
        {{source.layer
          layer=layerConfig.layer
          before=layerConfig.before}}
      {{/each}}
    {{/map.source}}
  {{/if}}
{{/if}}

<li class='item'>
  {{layer-menu-item 
      title=config.title 
      config=group
      click=(action 'toggleVisibility')}}
  {{if visible '(Hide)' '(Show)'}}
  {{if configWithTemplate.isPending '(Loading)'}}
  {{#if visible}}
    <ul>
      {{#each config.filters as |filter|}}
        {{#each filter.values as |value|}}
          <li>{{value.label}}</li>
        {{/each}}
      {{/each}}
    </ul>
  {{/if}}
</li>
