{{#if layer}}
  <div class="layer-menu-item" {{action 'toggleVisibility'}}>

    {{#if (or warning titleTooltip)}}
      <span class="layer-tooltips-container">
        {{#if warning}}
          {{info-tooltip
            iconName='warning'
            tip='Some information may not visible at this zoom level.'
            classNames='layer-warning'
            tooltipClass='tooltip--layer-warning'
          }}
        {{/if}}
        {{#if titleTooltip}}
          {{info-tooltip
            tip=titleTooltip
            classNames='layer-info'
            tooltipClass='tooltip--layer-info'
          }}
        {{/if}}
      </span>
    {{/if}}

    {{switch-toggle checked=visible}}

    {{title}}

    {{#if visible}}
      {{#with legendIcon as |legendIcon|}}
        {{#if (eq legendIcon 'admin-line')}}
          <span class="layer-group-legend" style="border-color:{{legendColor}};"></span>
        {{/if}}
        {{#if (eq legendIcon 'polygon')}}
          <span class="icon polygon legend-icon" style="background-color:{{legendColor}};"></span>
        {{/if}}
      {{/with}}
    {{/if}}


  </div>
  {{yield (hash
    layer=layer
    updateSql=(action 'updateSql')
    updatePaintFor=(action 'updatePaintFor')
    multi-select=(component 'layer-multi-select-control' parentComponent=this.layer)
    range-slider=(component 'layer-control-timeline' parentComponent=this.layer)
    radio-selector=(component 'radio-selector' layers=this.layer.config.layers)
    )}}
{{/if}}
