{{#if closed}}
  <button {{action (mut closed) (not closed)}} class="button hollow expanded no-margin hide-for-medium hide-for-print"> Edit Map Layers</button>
{{else}}
  <button {{action (mut closed) (not closed)}} class="close-button" aria-label="Close Map Layers" type="button"><span aria-hidden="true">&times;</span></button>
{{/if}}
<div id="layers-menu" class="{{if closed 'show-for-medium'}} hide-for-print">
  {{#layer-palette-accordion
    closed=false
    title='Zoning and Land Use'}}
    {{#layer-menu-item
      for='zd' as |item|}}
      {{#if item.layer.visible}}
        {{#item.multi-select
          column='primaryzone' as |multiSelect|}}
          {{#power-select-multiple
            options=(await
                (get-unique-options-for 'primaryzone' item.layer.config.sql)
              )
            selected=multiSelect.allChecked
            placeholder="Select Zones"
            onchange=(queue
                (action item.updateSql 'buildMultiSelectSQL' 'primaryzone')
                (action (mut multiSelect.allChecked))
              )
            as |name|}}
            {{name}}
          {{/power-select-multiple}}
        {{/item.multi-select}}
      {{/if}}
    {{/layer-menu-item}}

    {{#layer-menu-item for='pluto' as |item|}}
      {{#if (lt mainMap.currentZoom item.layer.minzoom)}}
        {{info-tooltip iconName='warning' tip='Zoom in more to see'}}
      {{/if}}
      {{#if item.layer.visible}}
        <div class="layer-menu-item"
          onclick={{queue
            (action 'toggleFill')
            (action item.updatePaintFor
              'pluto-fill'
              (if plutoFill (hash fill-opacity=0.7) (hash fill-opacity=0))
            )}}>
          {{input type='checkbox'
            checked=plutoFill}}
          Toggle Land Use Colors
        </div>
        {{#if plutoFill}}
        <ul class="layer-key">
          <li><span style="color:#FEFFA8;">{{fa-icon "square"}}</span>One &amp; Two Family Buildings</li>
          <li><span style="color:#FCB842;">{{fa-icon "square"}}</span>Multi-Family Walk-Up Buildings</li>
          <li><span style="color:#B16E00;">{{fa-icon "square"}}</span>Multi-Family Elevator Buildings</li>
          <li><span style="color:#ff8341;">{{fa-icon "square"}}</span>Mixed Residential &amp; Commercial Buildings</li>
          <li><span style="color:#fc2929;">{{fa-icon "square"}}</span>Commercial &amp; Office Buildings</li>
          <li><span style="color:#E362FB;">{{fa-icon "square"}}</span>Industrial &amp; Manufacturing</li>
          <li><span style="color:#E0BEEB;">{{fa-icon "square"}}</span>Transportation &amp; Utility</li>
          <li><span style="color:#44A3D5;">{{fa-icon "square"}}</span>Public Facilities &amp; Institutions</li>
          <li><span style="color:#78D271;">{{fa-icon "square"}}</span>Open Space &amp; Outdoor Recreation</li>
          <li><span style="color:#BAB8B6;">{{fa-icon "square"}}</span>Parking Facilities</li>
          <li><span style="color:#555555;">{{fa-icon "square"}}</span>Vacant Land</li>
          <li><span style="color:#222222;">{{fa-icon "square"}}</span>Other</li>
        </ul>
        {{/if}}
      {{/if}}
    {{/layer-menu-item}}

    {{#layer-menu-item
      for='co'
      as |item|}}
      {{#if item.layer.visible}}
        {{#layer-multi-select-control
          column='overlay'
          parentComponent=item.layer
          as |multiSelect|}}
            <ul class="layer-menu-item--group-checkboxes">
              <li>
                <label>{{group-checkbox
                  refs=(array 'c11' 'c12' 'c13' 'c14' 'c15')
                  values=(array c11 c12 c13 c14 c15)
                  scope=this}}Select All C1</label>
                <ul class="nested columns-2">
                  <li><label>{{multiSelect.checkbox value='C1-1' checked=c11}}C1-1</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-2' checked=c12}}C1-2</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-3' checked=c13}}C1-3</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-4' checked=c14}}C1-4</label></li>
                  <li><label>{{multiSelect.checkbox value='C1-5' checked=c15}}C1-5</label></li>
                </ul>
              </li>
            </ul>
            <ul class="layer-menu-item--group-checkboxes">
              <li>
                <label>{{group-checkbox
                  refs=(array 'c21' 'c22' 'c23' 'c24' 'c25')
                  values=(array c21 c22 c23 c24 c25)
                  scope=this}}Select All C2</label>
                <ul class="nested columns-2">
                  <li><label>{{multiSelect.checkbox value='C2-1' checked=c21}}C2-1</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-2' checked=c22}}C2-2</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-3' checked=c23}}C2-3</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-4' checked=c24}}C2-4</label></li>
                  <li><label>{{multiSelect.checkbox value='C2-5' checked=c25}}C2-5</label></li>
                </ul>
              </li>
            </ul>
        {{/layer-multi-select-control}}
      {{/if}}
    {{/layer-menu-item}}

    {{#layer-menu-item for='zma' as |item|}}
      {{#if item.layer.visible}}
        {{item.range-slider
            column='effective'}}
      {{/if}}
    {{/layer-menu-item}}

    {{layer-menu-item for='zmacert'}}
  {{/layer-palette-accordion}}

  {{#layer-palette-accordion
    closed=true
    title='Supporting Zoning Layers'
    as |item|}}
    {{layer-menu-item
      for='sp'}}
    {{layer-menu-item
      for='spsd'}}
    {{layer-menu-item
      for='mih'}}
    {{layer-menu-item
      for='ih'}}
    {{layer-menu-item
      for='tz'}}
    {{layer-menu-item
      for='fresh'}}
    {{layer-menu-item
      for='sidewalkcafes'}}
    {{layer-menu-item
      for='ldgma'}}
    {{layer-menu-item
      for='czb'}}
    {{layer-menu-item
      for='wap'}}
  {{/layer-palette-accordion}}
  {{#layer-palette-accordion
    closed=true
    title='Landmark & Historic'}}
    {{layer-menu-item
      for='sceniclandmarks'}}
    {{layer-menu-item
      for='historicdistricts'}}
    {{layer-menu-item
      for='landmarkpoints'}}
  {{/layer-palette-accordion}}
  {{#layer-palette-accordion
    closed=true
    title='Transportation'
  }}
    {{layer-menu-item
      for='subway'}}
  {{/layer-palette-accordion}}

  {{#layer-palette-accordion
    closed=true
    title='Administrative Boundaries'}}
    {{layer-menu-item
      for='boroughs'}}
    {{layer-menu-item
      for='communitydistricts'}}
    {{layer-menu-item
      for='nyccouncildistricts'}}
    {{layer-menu-item
      for='nysenatedistricts'}}
    {{layer-menu-item
      for='assemblydistricts'}}
    {{layer-menu-item
      for='nta'}}
  {{/layer-palette-accordion}}

  {{#layer-palette-accordion
    closed=true
    title='Basemaps'}}
    {{layer-menu-item
      for='aerials16'}}
  {{/layer-palette-accordion}}
</div>
{{yield}}
