{{#if layer}}
  <div class="layer-menu-item" {{action 'toggleVisibility'}}>
    <span class="layer-warning">
      {{fa-icon 'exclamation-triangle'}}
      <span class="layer-warning--text">Oops! Something broke.</span>
    </span>
    {{switch-toggle checked=visible}}
    {{title}}
  </div>
  {{yield (hash
    layer=layer
    updateSql=(action 'updateSql')
    updatePaintFor=(action 'updatePaintFor')
    multi-select=(component 'layer-multi-select-control' parentComponent=this.layer)
    range-slider=(component 'layer-control-timeline' parentComponent=this.layer)
    )}}
{{/if}}
