<button
  class="button hollow expanded hide-for-medium hide-for-print
    {{if closed " no-margin"}}"
  {{action (mut closed) (not closed)}}
>
  {{#if closed}}
    {{fa-icon "chevron-down"}} Edit Map Layers
  {{else}}
    {{fa-icon "chevron-up"}} Close Map Layers
  {{/if}}
</button>
<div id="layers-menu" class="{{if closed "show-for-medium"}}">
  <LabsUi::LayerGroupsContainer @title="Zoning and Land Use" as |container|>
    <container.layer-group-toggle
      data-test-toggle-tax-lots
      @label={{layerGroups.tax-lots.legend.label}}
      @tooltip={{layerGroups.tax-lots.legend.tooltip}}
      @active={{layerGroups.tax-lots.visible}}
    >
      <label
        class="checkbox-wrapper"
        data-test-layer-option="land-use-checkbox"
        onclick={{action
          "setPaintForLayerGroup"
          layerGroups.tax-lots
          "pluto-fill"
          (hash fill-opacity=(if plutoFill 0 0.5))
        }}
      >
        {{input type="checkbox" checked=plutoFill}}
        Show Land Use Colors
      </label>
      {{#if plutoFill}}
        <ul class="layer-key">
          {{#each
            (array
              (hash color="#FEFFA8" title="One & Two Family Buildings")
              (hash color="#FCB842" title="Multi-Family Walk-Up Buildings")
              (hash color="#B16E00" title="Multi-Family Elevator Buildings")
              (hash
                color="#ff8341" title="Mixed Residential & Commercial Buildings"
              )
              (hash color="#fc2929" title="Commercial & Office Buildings")
              (hash color="#E362FB" title="Industrial & Manufacturing")
              (hash color="#E0BEEB" title="Transportation & Utility")
              (hash color="#44A3D5" title="Public Facilities & Institutions")
              (hash color="#78D271" title="Open Space & Outdoor Recreation")
              (hash color="#BAB8B6" title="Parking Facilities")
              (hash color="#555555" title="Vacant Land")
              (hash color="#E7E7E7" title="Other")
            ) as |landuse|
          }}
            <li>
              <span style={{sanitize (hash color=landuse.color)}}>
                {{fa-icon "square"}}
              </span>
              {{landuse.title}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-zoning-districts
      @label={{layerGroups.zoning-districts.legend.label}}
      @tooltip={{layerGroups.zoning-districts.legend.tooltip}}
      @active={{layerGroups.zoning-districts.visible}}
    >
      <ul class="layer-menu-item--group-checkboxes">
        {{#each zoningDistrictGroups as |zoningDistrict|}}
          <li>
            <GroupedCheckboxes
              @group={{zoningDistrict}}
              @selected={{selectedZoning}}
            />
          </li>
        {{/each}}
      </ul>
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-commercial-overlays
      @label={{layerGroups.commercial-overlays.legend.label}}
      @tooltip={{layerGroups.commercial-overlays.legend.tooltip}}
      @active={{layerGroups.commercial-overlays.visible}}
    >
      <ul class="layer-menu-item--group-checkboxes">
        {{#each commercialOverlays as |commercialOverlay|}}
          <li>
            <GroupedCheckboxes
              @group={{commercialOverlay}}
              @selected={{selectedOverlays}}
            />
          </li>
        {{/each}}
      </ul>
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-zoning-map-amendments
      @label={{layerGroups.zoning-map-amendments.legend.label}}
      @tooltip={{layerGroups.zoning-map-amendments.legend.tooltip}}
      @icon={{layerGroups.zoning-map-amendments.legend.icon}}
      @active={{layerGroups.zoning-map-amendments.visible}}
    >
      <LayerControlTimeline
        @layerGroup={{layerGroups.zoning-map-amendments}}
        @layerID="zma-fill"
        @column="effective_epoch"
      />
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-zoning-map-amendments-pending
      @label={{layerGroups.zoning-map-amendments-pending.legend.label}}
      @tooltip={{layerGroups.zoning-map-amendments-pending.legend.tooltip}}
      @icon={{layerGroups.zoning-map-amendments-pending.legend.icon}}
      @active={{layerGroups.zoning-map-amendments-pending.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-special-purpose-districts
      @label={{layerGroups.special-purpose-districts.legend.label}}
      @tooltip={{layerGroups.special-purpose-districts.legend.tooltip}}
      @icon={{layerGroups.special-purpose-districts.legend.icon}}
      @active={{layerGroups.special-purpose-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-special-purpose-subdistricts
      @label={{layerGroups.special-purpose-subdistricts.legend.label}}
      @tooltip={{layerGroups.special-purpose-subdistricts.legend.tooltip}}
      @icon={{layerGroups.special-purpose-subdistricts.legend.icon}}
      @active={{layerGroups.special-purpose-subdistricts.visible}}
    />
  </LabsUi::LayerGroupsContainer>
  <LabsUi::LayerGroupsContainer
    @title="Supporting Zoning Layers" as |container|
  >
    <container.layer-group-toggle
      data-test-toggle-mandatory-inclusionary-housing
      @label={{layerGroups.mandatory-inclusionary-housing.legend.label}}
      @tooltip={{layerGroups.mandatory-inclusionary-housing.legend.tooltip}}
      @infoLink={{layerGroups.mandatory-inclusionary-housing.legend.infolink}}
      @icon={{layerGroups.mandatory-inclusionary-housing.legend.icon}}
      @active={{layerGroups.mandatory-inclusionary-housing.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-inclusionary-housing
      @label={{layerGroups.inclusionary-housing.legend.label}}
      @tooltip={{layerGroups.inclusionary-housing.legend.tooltip}}
      @infoLink={{layerGroups.inclusionary-housing.legend.infolink}}
      @icon={{layerGroups.inclusionary-housing.legend.icon}}
      @active={{layerGroups.inclusionary-housing.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-transit-zones
      @label={{layerGroups.transit-zones.legend.label}}
      @tooltip={{layerGroups.transit-zones.legend.tooltip}}
      @infoLink={{layerGroups.transit-zones.legend.infolink}}
      @icon={{layerGroups.transit-zones.legend.icon}}
      @active={{layerGroups.transit-zones.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-fresh
      @label={{layerGroups.fresh.legend.label}}
      @tooltip={{layerGroups.fresh.legend.tooltip}}
      @infoLink={{layerGroups.fresh.legend.infolink}}
      @icon={{layerGroups.fresh.legend.icon}}
      @active={{layerGroups.fresh.visible}}
    >
      <LabsUi::LegendItems @items={{layerGroups.fresh.legend.items}} />
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-sidewalk-cafes
      @label={{layerGroups.sidewalk-cafes.legend.label}}
      @tooltip={{layerGroups.sidewalk-cafes.legend.tooltip}}
      @infoLink={{layerGroups.sidewalk-cafes.legend.infolink}}
      @active={{layerGroups.sidewalk-cafes.visible}}
    >
      <LabsUi::LegendItems @items={{layerGroups.sidewalk-cafes.legend.items}} />
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-limited-height-districts
      @label={{layerGroups.limited-height-districts.legend.label}}
      @tooltip={{layerGroups.limited-height-districts.legend.tooltip}}
      @icon={{layerGroups.limited-height-districts.legend.icon}}
      @active={{layerGroups.limited-height-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-low-density-growth-mgmt-areas
      @label={{layerGroups.low-density-growth-mgmt-areas.legend.label}}
      @tooltip={{layerGroups.low-density-growth-mgmt-areas.legend.tooltip}}
      @infoLink={{layerGroups.low-density-growth-mgmt-areas.legend.infolink}}
      @icon={{layerGroups.low-density-growth-mgmt-areas.legend.icon}}
      @active={{layerGroups.low-density-growth-mgmt-areas.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-coastal-zone-boundary
      @label={{layerGroups.coastal-zone-boundary.legend.label}}
      @tooltip={{layerGroups.coastal-zone-boundary.legend.tooltip}}
      @infoLink={{layerGroups.coastal-zone-boundary.legend.infolink}}
      @icon={{layerGroups.coastal-zone-boundary.legend.icon}}
      @active={{layerGroups.coastal-zone-boundary.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-waterfront-access-plan
      @label={{layerGroups.waterfront-access-plan.legend.label}}
      @tooltip={{layerGroups.waterfront-access-plan.legend.tooltip}}
      @infoLink={{layerGroups.waterfront-access-plan.legend.infolink}}
      @icon={{layerGroups.waterfront-access-plan.legend.icon}}
      @active={{layerGroups.waterfront-access-plan.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-historic-districts
      @label={{layerGroups.historic-districts.legend.label}}
      @tooltip={{layerGroups.historic-districts.legend.tooltip}}
      @icon={{layerGroups.historic-districts.legend.icon}}
      @active={{layerGroups.historic-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-landmarks
      @label={{layerGroups.landmarks.legend.label}}
      @tooltip={{layerGroups.landmarks.legend.tooltip}}
      @active={{layerGroups.landmarks.visible}}
    >
      <LabsUi::LegendItems @items={{layerGroups.landmarks.legend.items}} />
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-floodplain-efirm2007
      @label={{layerGroups.floodplain-efirm2007.legend.label}}
      @tooltip={{layerGroups.floodplain-efirm2007.legend.tooltip}}
      @infoLink={{layerGroups.floodplain-efirm2007.legend.infolink}}
      @active={{layerGroups.floodplain-efirm2007.visible}}
    >
      <LabsUi::LegendItems
        @items={{layerGroups.floodplain-efirm2007.legend.items}}
      />
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-floodplain-pfirm2015
      @label={{layerGroups.floodplain-pfirm2015.legend.label}}
      @tooltip={{layerGroups.floodplain-pfirm2015.legend.tooltip}}
      @infoLink={{layerGroups.floodplain-pfirm2015.legend.infolink}}
      @active={{layerGroups.floodplain-pfirm2015.visible}}
    >
      <LabsUi::LegendItems
        @items={{layerGroups.floodplain-pfirm2015.legend.items}}
      />
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-e-designations
      @label={{layerGroups.e-designations.legend.label}}
      @tooltip={{layerGroups.e-designations.legend.tooltip}}
      @infoLink={{layerGroups.e-designations.legend.infolink}}
      @active={{layerGroups.e-designations.visible}}
    >
      <LabsUi::LegendItem @item={{layerGroups.e-designations.legend}} />
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-appendixj-designated-mdistricts
      @label={{layerGroups.appendixj-designated-mdistricts.legend.label}}
      @tooltip={{layerGroups.appendixj-designated-mdistricts.legend.tooltip}}
      @infoLink={{layerGroups.appendixj-designated-mdistricts.legend.infolink}}
      @icon={{layerGroups.appendixj-designated-mdistricts.legend.icon}}
      @active={{layerGroups.appendixj-designated-mdistricts.visible}}
    />
  </LabsUi::LayerGroupsContainer>
  <LabsUi::LayerGroupsContainer @title="Other Supporting Layers" as |container|>
    <container.layer-group-toggle
      data-test-toggle-business-improvement-districts
      @label={{layerGroups.business-improvement-districts.legend.label}}
      @tooltip={{layerGroups.business-improvement-districts.legend.tooltip}}
      @icon={{layerGroups.business-improvement-districts.legend.icon}}
      @active={{layerGroups.business-improvement-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-industrial-business-zones
      @label={{layerGroups.industrial-business-zones.legend.label}}
      @tooltip={{layerGroups.industrial-business-zones.legend.tooltip}}
      @icon={{layerGroups.industrial-business-zones.legend.icon}}
      @active={{layerGroups.industrial-business-zones.visible}}
    />
  </LabsUi::LayerGroupsContainer>
  <LabsUi::LayerGroupsContainer
    @title="Administrative Boundaries" as |container|
  >
    <container.layer-group-toggle
      data-test-toggle-boroughs
      @label={{layerGroups.boroughs.legend.label}}
      @icon={{layerGroups.boroughs.legend.icon}}
      @active={{layerGroups.boroughs.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-community-districts
      @label={{layerGroups.community-districts.legend.label}}
      @icon={{layerGroups.community-districts.legend.icon}}
      @active={{layerGroups.community-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-nyc-council-districts
      @label={{layerGroups.nyc-council-districts.legend.label}}
      @icon={{layerGroups.nyc-council-districts.legend.icon}}
      @active={{layerGroups.nyc-council-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-ny-senate-districts
      @label={{layerGroups.ny-senate-districts.legend.label}}
      @icon={{layerGroups.ny-senate-districts.legend.icon}}
      @active={{layerGroups.ny-senate-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-assembly-districts
      @label={{layerGroups.assembly-districts.legend.label}}
      @icon={{layerGroups.assembly-districts.legend.icon}}
      @active={{layerGroups.assembly-districts.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-neighborhood-tabulation-areas
      @label={{layerGroups.neighborhood-tabulation-areas.legend.label}}
      @icon={{layerGroups.neighborhood-tabulation-areas.legend.icon}}
      @active={{layerGroups.neighborhood-tabulation-areas.visible}}
    />
  </LabsUi::LayerGroupsContainer>
  <LabsUi::LayerGroupsContainer @title="Basemaps" as |container|>
    <container.layer-group-toggle
      data-test-toggle-subway
      @label={{layerGroups.subway.legend.label}}
      @active={{layerGroups.subway.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-building-footprints
      @label={{layerGroups.building-footprints.legend.label}}
      @tooltip={{layerGroups.building-footprints.legend.tooltip}}
      @active={{layerGroups.building-footprints.visible}}
    />
    <container.layer-group-toggle
      data-test-toggle-three-d-buildings
      @label={{layerGroups.three-d-buildings.legend.label}}
      @tooltip={{layerGroups.three-d-buildings.legend.tooltip}}
      @active={{layerGroups.three-d-buildings.visible}}
    >
      <ul class="layer-key">
        <li>
          Drag the compass arrow (
          <span
            style="padding: 0; margin-right: -5px; margin-left: -5px;"
            class="mapboxgl-ctrl-icon mapboxgl-ctrl-compass"
          >
            <span
              style="transform: rotate(0deg) scale(0.7); margin: 0; transform-origin: 50% 100%; position: relative; top: 0.25rem; margin-top: -8px;"
              class="mapboxgl-ctrl-compass-arrow"
            ></span>
          </span>
          ) to adjust the bearing of the map. Click to reset north.
        </li>
        <li>
          CTRL + drag the map (or CTRL + arrow keys) to adjust both pitch and bearing.
        </li>
      </ul>
    </container.layer-group-toggle>
    <container.layer-group-toggle
      data-test-toggle-aerials
      @label={{layerGroups.aerials.legend.label}}
      @tooltip={{layerGroups.aerials.legend.tooltip}}
      @active={{layerGroups.aerials.visible}}
    >
      <ul class="layer-menu-item--group-checkboxes no-bullet list-float-3">
        {{#each layerGroups.aerials.layers as |layer|}}
          <li
            onclick={{action (mut layerGroups.aerials.selected) layer.id}}
            role="button"
          >
            <label {{!template-lint-disable "nested-interactive"}}>
              <span
                class="layer-group-radio-{{layer.id}}"
                data-test-radio={{layer.id}}
              >
                <span class="fa-layers">
                  {{#if layer.visibility}}
                    {{fa-icon
                      "dot-circle"
                      prefix="far"
                      class=(if layer.visibility "" "silver")
                    }}
                  {{else}}
                    {{fa-icon
                      "circle"
                      prefix="far"
                      class=(if layer.visibility "" "silver")
                    }}
                  {{/if}}
                </span>
              </span>
              {{layer.displayName}}
            </label>
          </li>
        {{/each}}
      </ul>
    </container.layer-group-toggle>
  </LabsUi::LayerGroupsContainer>
  <a
    class="button gray small reset-map-button hide-for-print"
    disabled={{isDefault}}
    {{action "resetQueryParams"}}
  >
    {{fa-icon "undo"}}
    Reset Map Layers
  </a>
</div>
{{yield}}