<button {{action (mut closed) (not closed)}} class="button hollow expanded hide-for-medium hide-for-print{{if closed ' no-margin'}}">
  {{#if closed}}{{fa-icon 'chevron-down'}} Edit Map Layers{{else}}{{fa-icon 'chevron-up'}} Close Map Layers{{/if}}
</button>

<div id="layers-menu" class="{{if closed 'show-for-medium'}} hide-for-print">
  {{#labs-ui/layer-groups-container
    title='Zoning and Land Use'}}
    {{#labs-ui/layer-group-toggle
      label=layerGroups.tax-lots.legend.label
      tooltip=layerGroups.tax-lots.legend.tooltip
      active=layerGroups.tax-lots.visible}}
      <div class="checkbox-wrapper"
        onclick={{action 'setPaintForLayerGroup'
          layerGroups.tax-lots
          'pluto-fill'
          (hash fill-opacity=(if plutoFill 0 0.5))
        }}>
        {{input type='checkbox'
          checked=plutoFill}}
        Show Land Use Colors
      </div>

      {{#if plutoFill}}
        <ul class="layer-key">
          <li><span style="color:#FEFFA8;">{{fa-icon "square"}}</span>One &amp; Two Family Buildings</li>
          <li><span style="color:#FCB842;">{{fa-icon "square"}}</span>Multi-Family Walk-Up Buildings</li>
          <li><span style="color:#B16E00;">{{fa-icon "square"}}</span>Multi-Family Elevator Buildings</li>
          <li><span style="color:#ff8341;">{{fa-icon "square"}}</span>Mixed Residential &amp; Commercial Buildings</li>
          <li><span style="color:#fc2929;">{{fa-icon "square"}}</span>Commercial &amp; Office Buildings</li>
          <li><span style="color:#E362FB;">{{fa-icon "square"}}</span>Industrial &amp; Manufacturing</li>
          <li><span style="color:#E0BEEB;">{{fa-icon "square"}}</span>Transportation &amp; Utility</li>
          <li><span style="color:#44A3D5;">{{fa-icon "square"}}</span>Public Facilities &amp; Institutions</li>
          <li><span style="color:#78D271;">{{fa-icon "square"}}</span>Open Space &amp; Outdoor Recreation</li>
          <li><span style="color:#BAB8B6;">{{fa-icon "square"}}</span>Parking Facilities</li>
          <li><span style="color:#555555;">{{fa-icon "square"}}</span>Vacant Land</li>
          <li><span style="color:#E7E7E7;">{{fa-icon "square"}}</span>Other</li>
        </ul>
      {{/if}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.zoning-districts.legend.label
        tooltip=layerGroups.zoning-districts.legend.tooltip
        active=layerGroups.zoning-districts.visible}}
      {{#layer-multi-select-control
        column='primaryzone'
        layerID='zd-fill'
        layerGroup=layerGroups.zoning-districts
        as |multiSelect|}}
        <ul class="layer-menu-item--group-checkboxes">
          <li>
            <label>{{group-checkbox
              refs=(array 'qps.C1' 'qps.C2' 'qps.C3' 'qps.C4' 'qps.C5' 'qps.C6' 'qps.C7' 'qps.C8')
              values=(array qps.C1 qps.C2 qps.C3 qps.C4 qps.C5 qps.C6 qps.C7 qps.C8)
              scope=qps}}Commercial Districts <span style="background-color:#ff0000;" class="icon polygon legend-icon"></span></label>

            <input id="nested-commercial" class="checkbox-hide-sibling" type="checkbox" checked>
            <label for="nested-commercial" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

            <ul class="nested columns-3 hidable-sibling">
              <li><label>{{multiSelect.checkbox value='C1' checked=qps.C1}}C1</label></li>
              <li><label>{{multiSelect.checkbox value='C2' checked=qps.C2}}C2</label></li>
              <li><label>{{multiSelect.checkbox value='C3' checked=qps.C3}}C3</label></li>
              <li><label>{{multiSelect.checkbox value='C4' checked=qps.C4}}C4</label></li>
              <li><label>{{multiSelect.checkbox value='C5' checked=qps.C5}}C5</label></li>
              <li><label>{{multiSelect.checkbox value='C6' checked=qps.C6}}C6</label></li>
              <li><label>{{multiSelect.checkbox value='C7' checked=qps.C7}}C7</label></li>
              <li><label>{{multiSelect.checkbox value='C8' checked=qps.C8}}C8</label></li>
            </ul>
          </li>
          <li>
            <label>{{group-checkbox
              refs=(array 'qps.M1' 'qps.M2' 'qps.M3')
              values=(array qps.M1 qps.M2 qps.M3)
              scope=qps}}Manufacturing Districts <span style="background-color:#e362fb;" class="icon polygon legend-icon"></span></label>

            <input id="nested-manufacturing" class="checkbox-hide-sibling" type="checkbox" checked>
            <label for="nested-manufacturing" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

            <ul class="nested columns-3 hidable-sibling">
              <li><label>{{multiSelect.checkbox value='M1' checked=qps.M1}}M1</label></li>
              <li><label>{{multiSelect.checkbox value='M2' checked=qps.M2}}M2</label></li>
              <li><label>{{multiSelect.checkbox value='M3' checked=qps.M3}}M3</label></li>
            </ul>
          </li>
          <li>
            <label>{{group-checkbox
              refs=(array 'qps.R1' 'qps.R2' 'qps.R3' 'qps.R4' 'qps.R5' 'qps.R6' 'qps.R7' 'qps.R8' 'qps.R9' 'qps.R10')
              values=(array qps.R1 qps.R2 qps.R3 qps.R4 qps.R5 qps.R6 qps.R7 qps.R8 qps.R9 qps.R10)
              scope=qps}}Residential Districts  <span style="background-color:#f2f618;" class="icon polygon legend-icon"></span></label>

            <input id="nested-residential" class="checkbox-hide-sibling" type="checkbox" checked>
            <label for="nested-residential" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

            <ul class="nested columns-3 hidable-sibling">
              <li><label>{{multiSelect.checkbox value='R1' checked=qps.R1}}R1</label></li>
              <li><label>{{multiSelect.checkbox value='R2' checked=qps.R2}}R2</label></li>
              <li><label>{{multiSelect.checkbox value='R3' checked=qps.R3}}R3</label></li>
              <li><label>{{multiSelect.checkbox value='R4' checked=qps.R4}}R4</label></li>
              <li><label>{{multiSelect.checkbox value='R5' checked=qps.R5}}R5</label></li>
              <li><label>{{multiSelect.checkbox value='R6' checked=qps.R6}}R6</label></li>
              <li><label>{{multiSelect.checkbox value='R7' checked=qps.R7}}R7</label></li>
              <li><label>{{multiSelect.checkbox value='R8' checked=qps.R8}}R8</label></li>
              <li><label>{{multiSelect.checkbox value='R9' checked=qps.R9}}R9</label></li>
              <li><label>{{multiSelect.checkbox value='R10' checked=qps.R10}}R10</label></li>
            </ul>
          </li>
          <li><label>{{multiSelect.checkbox value='PA' checked=qps.PA}}Parks <span style="background-color:#78D271;" class="icon polygon legend-icon"></span></label></li>
          <li><label>{{multiSelect.checkbox value='BP' checked=qps.BP}}Battery Park City <span style="background-color:#666666;" class="icon polygon legend-icon"></span></label></li>
        </ul>
      {{/layer-multi-select-control}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.commercial-overlays.legend.label
        tooltip=layerGroups.commercial-overlays.legend.tooltip
        active=layerGroups.commercial-overlays.visible}}
      {{#layer-multi-select-control
        layerGroup=layerGroups.commercial-overlays
        layerID='co'
        column='overlay'
        parentComponent=item.layer
        as |multiSelect|}}
          <ul class="layer-menu-item--group-checkboxes">
            <li>
              <label>{{group-checkbox
                refs=(array 'qps.c11' 'qps.c12' 'qps.c13' 'qps.c14' 'qps.c15')
                values=(array qps.c11 qps.c12 qps.c13 qps.c14 qps.c15)
                scope=qps}}C1-1 through C1-5</label>

              <input id="nested-c1" class="checkbox-hide-sibling" type="checkbox" checked>
              <label for="nested-c1" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

              <ul class="nested columns-2 hidable-sibling">
                <li><label>{{multiSelect.checkbox value='C1-1' checked=qps.c11}}C1-1</label></li>
                <li><label>{{multiSelect.checkbox value='C1-2' checked=qps.c12}}C1-2</label></li>
                <li><label>{{multiSelect.checkbox value='C1-3' checked=qps.c13}}C1-3</label></li>
                <li><label>{{multiSelect.checkbox value='C1-4' checked=qps.c14}}C1-4</label></li>
                <li><label>{{multiSelect.checkbox value='C1-5' checked=qps.c15}}C1-5</label></li>
              </ul>
            </li>
            <li>
              <label>{{group-checkbox
                refs=(array 'qps.c21' 'qps.c22' 'qps.c23' 'qps.c24' 'qps.c25')
                values=(array qps.c21 qps.c22 qps.c23 qps.c24 qps.c25)
                scope=qps}}C2-1 through C2-5</label>

              <input id="nested-c2" class="checkbox-hide-sibling" type="checkbox" checked>
              <label for="nested-c2" class="hidable-sibling-toggle top-right">{{fa-icon 'angle-up'}}</label>

              <ul class="nested columns-2 hidable-sibling">
                <li><label>{{multiSelect.checkbox value='C2-1' checked=qps.c21}}C2-1</label></li>
                <li><label>{{multiSelect.checkbox value='C2-2' checked=qps.c22}}C2-2</label></li>
                <li><label>{{multiSelect.checkbox value='C2-3' checked=qps.c23}}C2-3</label></li>
                <li><label>{{multiSelect.checkbox value='C2-4' checked=qps.c24}}C2-4</label></li>
                <li><label>{{multiSelect.checkbox value='C2-5' checked=qps.c25}}C2-5</label></li>
              </ul>
            </li>
          </ul>
      {{/layer-multi-select-control}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.zoning-map-amendments.legend.label
        tooltip=layerGroups.zoning-map-amendments.legend.tooltip
        icon=layerGroups.zoning-map-amendments.legend.icon
        active=layerGroups.zoning-map-amendments.visible}}
      {{layer-control-timeline
          qps=qps
          layerGroup=layerGroups.zoning-map-amendments
          layerID='zma-fill'
          column='effective_epoch'}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.zoning-map-amendments-pending.legend.label
        tooltip=layerGroups.zoning-map-amendments-pending.legend.tooltip
        icon=layerGroups.zoning-map-amendments-pending.legend.icon
        active=layerGroups.zoning-map-amendments-pending.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.special-purpose-districts.legend.label
        tooltip=layerGroups.special-purpose-districts.legend.tooltip
        icon=layerGroups.special-purpose-districts.legend.icon
        active=layerGroups.special-purpose-districts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.special-purpose-subdistricts.legend.label
        tooltip=layerGroups.special-purpose-subdistricts.legend.tooltip
        icon=layerGroups.special-purpose-subdistricts.legend.icon
        active=layerGroups.special-purpose-subdistricts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.limited-height-districts.legend.label
        tooltip=layerGroups.limited-height-districts.legend.tooltip
        icon=layerGroups.limited-height-districts.legend.icon
        active=layerGroups.limited-height-districts.visible}}
    {{/labs-ui/layer-group-toggle}}
  {{/labs-ui/layer-groups-container}}

  {{#labs-ui/layer-groups-container
    title='Supporting Zoning Layers'}}
    {{#labs-ui/layer-group-toggle
        label=layerGroups.mandatory-inclusionary-housing.legend.label
        tooltip=layerGroups.mandatory-inclusionary-housing.legend.tooltip
        icon=layerGroups.mandatory-inclusionary-housing.legend.icon
        active=layerGroups.mandatory-inclusionary-housing.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.inclusionary-housing.legend.label
        tooltip=layerGroups.inclusionary-housing.legend.tooltip
        icon=layerGroups.inclusionary-housing.legend.icon
        active=layerGroups.inclusionary-housing.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.transit-zones.legend.label
        tooltip=layerGroups.transit-zones.legend.tooltip
        icon=layerGroups.transit-zones.legend.icon
        active=layerGroups.transit-zones.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.fresh.legend.label
        tooltip=layerGroups.fresh.legend.tooltip
        icon=layerGroups.fresh.legend.icon
        active=layerGroups.fresh.visible}}
      {{labs-ui/legend-items items=layerGroups.fresh.legend.items}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.sidewalk-cafes.legend.label
        tooltip=layerGroups.fresh.legend.tooltip
        active=layerGroups.sidewalk-cafes.visible}}
      {{labs-ui/legend-items items=layerGroups.sidewalk-cafes.legend.items}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.low-density-growth-mgmt-areas.legend.label
        tooltip=layerGroups.low-density-growth-mgmt-areas.legend.tooltip
        icon=layerGroups.low-density-growth-mgmt-areas.legend.icon
        active=layerGroups.low-density-growth-mgmt-areas.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.coastal-zone-boundary.legend.label
        tooltip=layerGroups.coastal-zone-boundary.legend.tooltip
        icon=layerGroups.coastal-zone-boundary.legend.icon
        active=layerGroups.coastal-zone-boundary.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.waterfront-access-plan.legend.label
        tooltip=layerGroups.waterfront-access-plan.legend.tooltip
        icon=layerGroups.waterfront-access-plan.legend.icon
        active=layerGroups.waterfront-access-plan.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.historic-districts.legend.label
        tooltip=layerGroups.historic-districts.legend.tooltip
        icon=layerGroups.historic-districts.legend.icon
        active=layerGroups.historic-districts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.landmarks.legend.label
        tooltip=layerGroups.landmarks.legend.tooltip
        active=layerGroups.landmarks.visible}}
      {{labs-ui/legend-items items=layerGroups.landmarks.legend.items}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.floodplain-efirm2007.legend.label
        tooltip=layerGroups.floodplain-efirm2007.legend.tooltip
        active=layerGroups.floodplain-efirm2007.visible}}
      {{labs-ui/legend-items items=layerGroups.floodplain-efirm2007.legend.items}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.floodplain-pfirm2015.legend.label
        tooltip=layerGroups.floodplain-pfirm2015.legend.tooltip
        active=layerGroups.floodplain-pfirm2015.visible}}
      {{labs-ui/legend-items items=layerGroups.floodplain-pfirm2015.legend.items}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.e-designations.legend.label
        tooltip=layerGroups.e-designations.legend.tooltip
        active=layerGroups.e-designations.visible}}
      <ul class="layer-key">
        <li><span style="color:#3a28dd;">{{fa-icon "circle-o"}}</span>E-designation</li>
      </ul>
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.appendixj-designated-mdistricts.legend.label
        tooltip=layerGroups.appendixj-designated-mdistricts.legend.tooltip
        icon=layerGroups.appendixj-designated-mdistricts.legend.icon
        active=layerGroups.appendixj-designated-mdistricts.visible}}
    {{/labs-ui/layer-group-toggle}}
  {{/labs-ui/layer-groups-container}}


  {{#labs-ui/layer-groups-container
    title='Other Supporting Layers'}}
    {{#labs-ui/layer-group-toggle
        label=layerGroups.business-improvement-districts.legend.label
        tooltip=layerGroups.business-improvement-districts.legend.tooltip
        icon=layerGroups.business-improvement-districts.legend.icon
        active=layerGroups.business-improvement-districts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.industrial-business-zones.legend.label
        tooltip=layerGroups.industrial-business-zones.legend.tooltip
        icon=layerGroups.industrial-business-zones.legend.icon
        active=layerGroups.industrial-business-zones.visible}}
    {{/labs-ui/layer-group-toggle}}
  {{/labs-ui/layer-groups-container}}


  {{#labs-ui/layer-groups-container
    title='Administrative Boundaries'}}
    {{#labs-ui/layer-group-toggle
        label=layerGroups.boroughs.legend.label
        icon=layerGroups.boroughs.legend.icon
        active=layerGroups.boroughs.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.community-districts.legend.label
        icon=layerGroups.community-districts.legend.icon
        active=layerGroups.community-districts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.nyc-council-districts.legend.label
        icon=layerGroups.nyc-council-districts.legend.icon
        active=layerGroups.nyc-council-districts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.ny-senate-districts.legend.label
        icon=layerGroups.ny-senate-districts.legend.icon
        active=layerGroups.ny-senate-districts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.assembly-districts.legend.label
        icon=layerGroups.assembly-districts.legend.icon
        active=layerGroups.assembly-districts.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
        label=layerGroups.neighborhood-tabulation-areas.legend.label
        icon=layerGroups.neighborhood-tabulation-areas.legend.icon
        active=layerGroups.neighborhood-tabulation-areas.visible}}
    {{/labs-ui/layer-group-toggle}}
  {{/labs-ui/layer-groups-container}}


  {{#labs-ui/layer-groups-container
    title='Basemaps'}}
    {{#labs-ui/layer-group-toggle
      label=layerGroups.subway.legend.label
      active=layerGroups.subway.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
      label=layerGroups.building-footprints.legend.label
      tooltip=layerGroups.building-footprints.legend.tooltip
      active=layerGroups.building-footprints.visible}}
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
      label=layerGroups.three-d-buildings.legend.label
      tooltip=layerGroups.three-d-buildings.legend.tooltip
      active=layerGroups.three-d-buildings.visible}}
      <ul class="layer-key">
        <li>Drag the compass arrow (<span style="padding: 0; margin-right: -5px; margin-left: -5px;" class="mapboxgl-ctrl-icon mapboxgl-ctrl-compass"><span style="transform: rotate(0deg) scale(0.7); margin: 0; transform-origin: 50% 100%; position: relative; top: 0.25rem; margin-top: -8px;" class="mapboxgl-ctrl-compass-arrow"></span></span>) to adjust the bearing of the map. Click to reset north.</li>
        <li>CTRL + drag the map (or CTRL + arrow keys) to adjust both pitch and bearing.</li>
      </ul>
    {{/labs-ui/layer-group-toggle}}

    {{#labs-ui/layer-group-toggle
      label=layerGroups.aerials.legend.label
      tooltip=layerGroups.aerials.legend.tooltip
      active=layerGroups.aerials.visible}}
      {{item.radio-selector
        qps=qps
        classNames='list-float-3'
      }}
    {{/labs-ui/layer-group-toggle}}
  {{/labs-ui/layer-groups-container}}


  <a {{action resetQueryParams}} class="button gray small reset-map-button" disabled={{isDefault}}>
    {{fa-icon "undo"}} Reset Map Layers
  </a>

</div>
{{yield}}
