{{#if loading}}
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
{{/if}}

{{#mapbox-gl
  id='main-map'
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=(array lng lat))
  mapLoaded=(action 'handleMapLoad')
  as |map|}}  

  {{#ember-wormhole to=menuTo}}
    <ul class='layers-list no-bullet'>
      {{map.layer-group config=pluto qps=qps}}
      {{map.layer-group config=zoningDistricts qps=qps}}
      {{map.layer-group config=aerialRaster qps=qps}}
      {{map.layer-group config=commercialOverlays qps=qps}}
      {{#map.layer-group config=zoningMapAmendments qps=qps as |group|}}
        {{#if group.visible}}
          {{group.timeline-control
              min=1293840000000
              max=2493072000000
              column='effective'}}
        {{/if}}
      {{/map.layer-group}}
    </ul>
  {{/ember-wormhole}}

  {{#if zmaSourcePromise.last.isSuccessful}}
    {{#map.source sourceId='zma' options=zmaSource as |source|}}
      {{source.layer layer=zmaFillLayer before='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{#if highlightedLotFeatures}}
    {{#map.source sourceId='highlighted-lot' options=highlightedLotSource as |source|}}
      {{source.layer layer=highlightedLotLayer before='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{#if mainMap.selected}}
    {{#map.source
      sourceId='selected-lot'
      options=selectedLotSource as |source|}}
      {{source.layer
        layer=selectedLotLayer
        after='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{map.call 'fitBounds' mainMap.bounds}}
  {{map.on 'click' (action routeToLot)}}
  {{map.on 'data' (action 'mapLoading')}}
  {{map.on 'mousemove' (action 'handleMouseover')}}
  {{map.on 'mouseout' (action 'handleMouseleave')}}

{{/mapbox-gl}}
