{{#if loading}}
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
{{/if}}

{{#mapbox-gl
  id='main-map'
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=(array lng lat))
  mapLoaded=(action 'handleMapLoad')
  as |map|}}




  {{map.layer-group config=layerGroups.neighborhoodTabulationAreas visible=qps.neighborhoodTabulationAreas}}

  {{map.layer-group config=layerGroups.assemblydistricts visible=qps.assemblydistricts}}

  {{map.layer-group config=layerGroups.nysenatedistricts visible=qps.nysenatedistricts}}

  {{map.layer-group config=layerGroups.nyccouncildistricts visible=qps.nyccouncildistricts}}

  {{map.layer-group config=layerGroups.communitydistricts visible=qps.communitydistricts}}

  {{map.layer-group config=layerGroups.boroughs visible=qps.boroughs}}

  {{map.layer-group config=layerGroups.subway visible=qps.subway}}

  {{map.layer-group config=layerGroups.pluto visible=qps.pluto}}

  {{map.layer-group config=layerGroups.commercialOverlays visible=qps.commercialOverlays}}

  {{map.layer-group config=layerGroups.landmarkpoints visible=qps.landmarkpoints}}

  {{map.layer-group config=layerGroups.historicdistricts visible=qps.historicdistricts}}

  {{map.layer-group config=layerGroups.sceniclandmarks visible=qps.sceniclandmarks}}

  {{map.layer-group config=layerGroups.waterfrontAccessPlan visible=qps.waterfrontAccessPlan}}

  {{map.layer-group config=layerGroups.coastalZoneBoundary visible=qps.coastalZoneBoundary}}

  {{map.layer-group config=layerGroups.lowDensityGrowthMgmtAreas visible=qps.lowDensityGrowthMgmtAreas}}

  {{map.layer-group config=layerGroups.sidewalkcafes visible=qps.sidewalkcafes}}

  {{map.layer-group config=layerGroups.fresh visible=qps.fresh}}

  {{map.layer-group config=layerGroups.transitZones visible=qps.transitZones}}

  {{map.layer-group config=layerGroups.inclusionaryHousing visible=qps.inclusionaryHousing}}

  {{map.layer-group config=layerGroups.mandatoryInclusionaryHousing visible=qps.mandatoryInclusionaryHousing}}

  {{map.layer-group config=layerGroups.specialPurposeSubdistricts visible=qps.specialPurposeSubdistricts}}

  {{map.layer-group config=layerGroups.specialPurposeDistricts visible=qps.specialPurposeDistricts}}

  {{map.layer-group config=layerGroups.zoningMapAmendmentsPending visible=qps.zoningMapAmendmentsPending}}

  {{map.layer-group config=layerGroups.zoningMapAmendments visible=qps.zoningMapAmendments}}

  {{map.layer-group config=layerGroups.zoningDistricts visible=qps.zoningDistricts}}

  {{map.layer-group config=layerGroups.aerials16 visible=qps.aerials16}}

  {{#if mapMouseover.highlightedLotFeatures}}
    {{#map.source
      sourceId='highlighted-lot'
      options=mapMouseover.highlightedLotSource as |source|}}
      {{source.layer
        layer=highlightedLotLayer
        before='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{hover-tooltip}}

  {{#if mainMap.selected}}
    {{#map.source
      sourceId='selected-lot'
      options=selectedLotSource as |source|}}
      {{source.layer
        layer=selectedFillLayer
        before='waterway-label'}}
      {{source.layer
        layer=selectedLineLayer
        before='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{map.call 'fitBounds' mainMap.bounds fitBoundsOptions}}
  {{map.on 'click' (action routeToLot)}}
  {{map.on 'data' (action 'mapLoading')}}
  {{map.on 'zoomend' (action 'handleZoomend')}}
  {{map.on 'mousemove' (action 'handleMouseover')}}
  {{map.on 'mouseout' (action 'handleMouseleave')}}

{{/mapbox-gl}}
