{{!-- {{#if loading}}
  <div class="loading-spinner">
    {{fa-icon 'spinner' spin=true pulse=true size='3x'}}
  </div>
{{/if}} --}}

{{log layerGroups}}

{{#labs-map
  id='main-map'
  layerGroups=layerGroups
  initOptions=(hash zoom=zoom
                    center=(array lng lat))
  mapLoaded=(action 'handleMapLoad')
  as |map|}}
  <div class="labs-map-loaded" style="display:none"></div>
  {{#map.labs-layers
    interactivity=interactivity
    highlightedFeatureLayer=highlightedLotLayer
    onLayerClick=(action 'handleLayerClick')
    onLayerHighlight=(action 'handleLayerHighlight')
     as |layers|}}
    {{#layers.tooltip as |tooltip|}}
      {{tooltip-renderer feature=tooltip.feature template=tooltip.layer.tooltipTemplate}}
    {{/layers.tooltip}}
  {{/map.labs-layers}}

  {{#if bookmarkedLotsLayer}}
    {{map.layer
      layer=bookmarkedLotsLayer
      before='place_other'}}
  {{/if}}

  {{#if mainMap.selected}}
    {{#map.source
      sourceId='selected-lot'
      options=selectedLotSource as |source|}}
      {{source.layer
        layer=selectedFillLayer
        before='place_other'}}
      {{source.layer
        layer=selectedLineLayer
        before='place_other'}}
    {{/map.source}}
  {{/if}}

  {{#if mainMap.drawnFeature}}
    {{#map.source
      sourceId='drawn-feature'
      options=mainMap.drawnFeatureSource as |source|}}
      {{source.layer layer=drawnFeatureLayers.line before='place_other'}}
      {{#if (eq mainMap.drawnFeature.type 'Polygon')}}
        {{source.layer layer=drawnFeatureLayers.fill before='place_other'}}
      {{/if}}
    {{/map.source}}
  {{/if}}

  {{#if mainMap.currentAddress}}
    {{#map.source sourceId='currentAddress' options=mainMap.addressSource as |source|}}
      {{source.layer layer=mainMap.pointLayer}}
    {{/map.source}}
  {{/if}}

  {{#if shouldFitBounds}}
    {{map.call 'fitBounds' mainMap.bounds mainMap.isSelectedBoundsOptions}}
  {{/if}}

  {{map.on 'click' (action routeToLot)}}
  {{map.on 'data' (action 'mapLoading')}}
  {{map.on 'zoomend' (action 'handleZoomend')}}
  {{map.on 'mousemove' (action 'handleMousemove')}}
  {{map.on 'mouseout' (action 'handleMouseleave')}}
  {{map.on 'draw.create' (action 'handleDrawCreate')}}
  {{map.on 'draw.render' (action 'handleMeasurement')}}
{{/labs-map}}

<div class="print-controls mapboxgl-ctrl mapboxgl-ctrl-group">
  <button {{action 'handlePrint'}} class="mapboxgl-ctrl-icon">{{fa-icon 'print'}}</button>
</div>

<div class="draw-tools">
  <label>
    <span class="hide-for-large" {{action (mut drawToolsOpen) (not drawToolsOpen)}}>
      {{#if drawToolsOpen}}{{fa-icon 'chevron-left'}}{{else}}{{fa-icon 'pencil'}}{{/if}}
    </span>
    <span class="show-for-large">Measure</span>
  </label>
  <button class="draw-tool draw-tool--line {{unless drawToolsOpen 'show-for-large'}} {{if (eq mainMap.drawMode 'draw_line_string') 'active'}}" onclick={{action 'startDraw' 'line'}}><span class="icon distance"></span></button>
  <button class="draw-tool draw-tool--polygon {{unless drawToolsOpen 'show-for-large'}} {{if (eq mainMap.drawMode 'draw_polygon') 'active'}}" onclick={{action 'startDraw' 'polygon'}}><span class="icon polygon"></span></button>
  {{#if drawnMeasurements}}
    <button class="draw-tool draw-tool--clear" onclick={{action 'clearDraw'}}>{{fa-icon "times"}}</button>
  {{/if}}
</div>
{{#if drawnMeasurements}}
  <div class="draw-measurement">
    {{if (eq measurementUnitType 'standard') drawnMeasurements.standard drawnMeasurements.metric}}
    <span class="draw-measurement-menu-button" {{action (mut measurementMenuOpen) (not measurementMenuOpen)}}>
      {{#if measurementMenuOpen}}
        {{fa-icon 'caret-down'}}
      {{else}}
        {{fa-icon 'caret-up'}}
      {{/if}}
      {{#if measurementMenuOpen}}
        <span class="draw-measurement-menu">
          <button class="button tiny gray" onclick={{action 'handleUnitsToggle' 'standard'}}>
            {{fa-icon (if (eq measurementUnitType 'standard') 'dot-circle-o' 'circle-thin') class=(if (eq measurementUnitType 'metric') 'medium-gray')}} Standard
          </button>
          <button class="button tiny gray" onclick={{action 'handleUnitsToggle' 'metric'}}>
            {{fa-icon (if (eq measurementUnitType 'metric') 'dot-circle-o' 'circle-thin') class=(if (eq measurementUnitType 'standard') 'medium-gray')}} Metric
          </button>
        </span>
      {{/if}}
    </span>
  </div>
{{/if}}

{{#unless findMeDismissed}}
  <div class="find-me">
    <button {{action 'locateMe'}} class="button hide-for-medium hide-for-print no-margin">Locate&nbsp;Me</button>
    <button {{action 'dismissFindMe'}} class="button hide-for-medium hide-for-print no-margin">&times;</button>
  </div>
{{/unless}}
