{{#if loading}}
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
{{/if}}

{{#mapbox-gl
  id='main-map'
  initOptions=(hash style='//raw.githubusercontent.com/NYCPlanning/labs-gl-style/master/data/style.json'
                    zoom=zoom
                    center=(array lng lat)
                    hash=true)
  mapLoaded=(action 'handleMapLoad')
  as |map|}}

  {{map.layer-group for='neighborhood-tabulation-areas' visible=qps.neighborhood-tabulation-areas}}

  {{map.layer-group for='threed-buildings' visible=qps.threed-buildings didToggleVisibility=(action 'adjustBuildingsLayer')}}

  {{map.layer-group for='assemblydistricts' visible=qps.assemblydistricts}}

  {{map.layer-group for='nysenatedistricts' visible=qps.nysenatedistricts}}

  {{map.layer-group for='nyccouncildistricts' visible=qps.nyccouncildistricts}}

  {{map.layer-group for='community-districts' visible=qps.community-districts}}

  {{map.layer-group for='boroughs' visible=qps.boroughs}}

  {{map.layer-group for='subway' visible=qps.subway}}

  {{map.layer-group for='building-footprints' visible=qps.building-footprints}}

  {{map.layer-group for='landmarks' visible=qps.landmarks}}

  {{map.layer-group for='e-designations' visible=qps.e-designations}}

  {{map.layer-group for='pluto' visible=qps.pluto}}

  {{map.layer-group for='commercial-overlays' visible=qps.commercial-overlays}}

  {{map.layer-group for='historic-districts' visible=qps.historic-districts}}

  {{map.layer-group for='waterfront-access-plan' visible=qps.waterfront-access-plan}}

  {{map.layer-group for='coastal-zone-boundary' visible=qps.coastal-zone-boundary}}

  {{map.layer-group for='low-density-growth-mgmt-areas' visible=qps.low-density-growth-mgmt-areas}}

  {{map.layer-group for='sidewalkcafes' visible=qps.sidewalkcafes}}

  {{map.layer-group for='effective-flood-insurance-rate-2007' visible=qps.effective-flood-insurance-rate-2007}}

  {{map.layer-group for='preliminary-flood-insurance-rate' visible=qps.preliminary-flood-insurance-rate}}

  {{map.layer-group for='fresh' visible=qps.fresh}}

  {{map.layer-group for='transit-zones' visible=qps.transit-zones}}

  {{map.layer-group for='inclusionary-housing' visible=qps.inclusionary-housing}}

  {{map.layer-group for='mandatory-inclusionary-housing' visible=qps.mandatory-inclusionary-housing}}

  {{map.layer-group for='business-improvement-districts' visible=qps.business-improvement-districts}}

  {{map.layer-group for='limited-height-districts' visible=qps.limited-height-districts}}

  {{map.layer-group for='special-purpose-subdistricts' visible=qps.special-purpose-subdistricts}}

  {{map.layer-group for='special-purpose-districts' visible=qps.special-purpose-districts}}

  {{map.layer-group for='zoning-map-amendments-pending' visible=qps.zoning-map-amendments-pending}}

  {{map.layer-group for='zoning-map-amendments' visible=qps.zoning-map-amendments}}

  {{map.layer-group for='zoning-districts' visible=qps.zoning-districts}}

  {{!-- BASEMAPS --}}

  {{map.layer-group for='aerials' visible=qps.aerials}}

  {{#if mapMouseover.highlightedLotFeatures}}
    {{#map.source
      sourceId='highlighted-lot'
      options=mapMouseover.highlightedLotSource as |source|}}
      {{source.layer
        layer=highlightedLotLayer
        before='place_other'}}
    {{/map.source}}
  {{/if}}

  {{#if bookmarkedLotsLayer}}
    {{map.layer
      layer=bookmarkedLotsLayer
      before='place_other'}}
  {{/if}}

  {{hover-tooltip}}

  {{#if mainMap.selected}}
    {{#map.source
      sourceId='selected-lot'
      options=selectedLotSource as |source|}}
      {{source.layer
        layer=selectedFillLayer
        before='place_other'}}
      {{source.layer
        layer=selectedLineLayer
        before='place_other'}}
    {{/map.source}}
  {{/if}}

  {{#if mainMap.drawnFeature}}
    {{#map.source
      sourceId='drawn-feature'
      options=mainMap.drawnFeatureSource as |source|}}
      {{source.layer layer=drawnFeatureLayers.line before='place_other'}}
      {{#if (eq mainMap.drawnFeature.type 'Polygon')}}
        {{source.layer layer=drawnFeatureLayers.fill before='place_other'}}
      {{/if}}
    {{/map.source}}
  {{/if}}

  {{#if mainMap.currentAddress}}
    {{#map.source sourceId='currentAddress' options=mainMap.addressSource as |source|}}
      {{source.layer layer=mainMap.pointLayer}}
    {{/map.source}}
  {{/if}}

  {{#if shouldFitBounds}}
    {{map.call 'fitBounds' mainMap.bounds mainMap.isSelectedBoundsOptions}}
  {{/if}}

  {{map.on 'click' (action routeToLot)}}
  {{map.on 'data' (action 'mapLoading')}}
  {{map.on 'zoomend' (action 'handleZoomend')}}
  {{map.on 'mousemove' (action 'handleMousemove')}}
  {{map.on 'mouseout' (action 'handleMouseleave')}}
  {{map.on 'draw.create' (action 'handleDrawCreate')}}
  {{map.on 'draw.render' (action 'handleMeasurement')}}

{{/mapbox-gl}}

<div class="draw-tools">
  <label>
    <span class="hide-for-large" {{action (mut drawToolsOpen) (not drawToolsOpen)}}>
      {{#if drawToolsOpen}}{{fa-icon 'chevron-left'}}{{else}}{{fa-icon 'pencil'}}{{/if}}
    </span>
    <span class="show-for-large">Measure</span>
  </label>
  <button class="draw-tool draw-tool--line {{unless drawToolsOpen 'show-for-large'}} {{if (eq mainMap.drawMode 'draw_line_string') 'active'}}" onclick={{action 'startDraw' 'line'}}><span class="icon distance"></span></button>
  <button class="draw-tool draw-tool--polygon {{unless drawToolsOpen 'show-for-large'}} {{if (eq mainMap.drawMode 'draw_polygon') 'active'}}" onclick={{action 'startDraw' 'polygon'}}><span class="icon polygon"></span></button>
  {{#if drawnMeasurements}}
    <button class="draw-tool draw-tool--clear" onclick={{action 'clearDraw'}}>{{fa-icon "times"}}</button>
  {{/if}}
</div>
{{#if drawnMeasurements}}
  <div class="draw-measurement">
    {{if (eq measurementUnitType 'standard') drawnMeasurements.standard drawnMeasurements.metric}}
    <span class="draw-measurement-menu-button" {{action (mut measurementMenuOpen) (not measurementMenuOpen)}}>
      {{#if measurementMenuOpen}}
        {{fa-icon 'caret-down'}}
      {{else}}
        {{fa-icon 'caret-up'}}
      {{/if}}
      {{#if measurementMenuOpen}}
        <span class="draw-measurement-menu">
          <button class="button tiny gray" onclick={{action 'handleUnitsToggle' 'standard'}}>
            {{fa-icon (if (eq measurementUnitType 'standard') 'dot-circle-o' 'circle-thin') class=(if (eq measurementUnitType 'metric') 'medium-gray')}} Standard
          </button>
          <button class="button tiny gray" onclick={{action 'handleUnitsToggle' 'metric'}}>
            {{fa-icon (if (eq measurementUnitType 'metric') 'dot-circle-o' 'circle-thin') class=(if (eq measurementUnitType 'standard') 'medium-gray')}} Metric
          </button>
        </span>
      {{/if}}
    </span>
  </div>
{{/if}}

{{#unless findMeDismissed}}
  <div class="find-me">
    <button {{action 'locateMe'}} class="button hide-for-medium hide-for-print no-margin">Locate&nbsp;Me</button>
    <button {{action 'dismissFindMe'}} class="button hide-for-medium hide-for-print no-margin">&times;</button>
  </div>
{{/unless}}
