<Mapbox::BasicMap
  @name="main-map"
  @layerGroups={{this.layerGroups}}
  @initOptions={{hash
    style=this.layerGroupsMeta.mapboxStyle
    preserveDrawingBuffer=true
    zoom=this.mainMap.zoom
    hash=true
    center=this.mainMap.center
    minZoom=this.mainMap.minZoom
    maxBounds=this.mainMap.maxBounds
  }}
  @mapLoaded={{action "handleMapLoad"}} as |map|
>
  <div
    data-test-main-map="loaded"
    class="labs-map-loaded"
    style="display:none"
  ></div>

  <div class="print-controls mapboxgl-ctrl mapboxgl-ctrl-group">
    <button
      class="mapboxgl-ctrl-icon"
      data-test-map-print-button
      onClick={{this.enablePrintView}}
    >
      <FaIcon @icon="print" />
    </button>
  </div>

  <LabsLayers
    @map={{map.instance}}
    @hoveredFeature={{map.hoveredFeature}}
    @layerGroups={{this.layerGroups}}
    @interactivity={{interactivity}}
    @onLayerClick={{action "handleLayerClick"}}
    @onLayerHighlight={{action "handleLayerHighlight"}} as |layers|
  >
    <layers.tooltip as |tooltip|>
      <TooltipRenderer
        data-test-tooltip="true"
        @feature={{tooltip.feature}}
        @template={{tooltip.layer.tooltipTemplate}}
      />
    </layers.tooltip>
  </LabsLayers>

  {{#if this.bookmarkedLotsLayer}}
    <MaplibreGlLayer
      @map={{map.instance}}
      @layer={{this.bookmarkedLotsLayer}}
      @before="place_other"
    />
  {{/if}}

  {{#if mainMap.selected}}
    <MaplibreGlSource
      @map={{map.instance}}
      @sourceId="selected-lot"
      @options={{selectedLotSource}} as |source|
    >
      <source.layer @layer={{selectedFillLayer}} @before="place_other" />
      <source.layer @layer={{selectedLineLayer}} @before="place_other" />
    </MaplibreGlSource>
  {{/if}}

  <MapMeasurementTools
    @map={{map.instance}}
    @draw={{this.draw}} as |measurement|
  >
    {{#if measurement.feature}}
      <MaplibreGlSource
        @map={{map.instance}}
        @sourceId="drawn-feature"
        @options={{hash type="geojson" data=measurement.feature}} as |source|
      >
        <source.layer
          @layer={{drawnFeatureLayers.line}}
          @before="place_other"
        />
        {{#if (eq mainMap.drawnFeature.type "Polygon")}}
          <source.layer
            @layer={{drawnFeatureLayers.fill}}
            @before="place_other"
          />
        {{/if}}
      </MaplibreGlSource>
    {{/if}}
  </MapMeasurementTools>
</Mapbox::BasicMap>

<LocateMeMobile />
