{{#if loading}}
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
{{/if}}

{{#mapbox-gl
  id='main-map'
  initOptions=(hash style='mapbox://styles/mapbox/light-v9'
                    zoom=zoom
                    center=(array lng lat))
  mapLoaded=(action 'handleMapLoad')
  as |map|}}

      {{map.layer-group config=layerGroups.zd visible=qps.zd}}

      {{map.layer-group config=layerGroups.pluto visible=qps.pluto}}

      {{#map.layer-group config=layerGroups.co visible=qps.co as |group|}}
       {{!--  {{#if group.visible}}
          {{#group.multi-select-control
            column='overlay' as |multiSelect|}}
              <ul class="layer-menu-item-controls">
                <li>
                  <label>
                  {{group-checkbox
                    refs=(array 'c14' 'c24' 'c22' 'c13' 'c23')
                    values=(array c14 c24 c22 c13 c23)
                    scope=this}} Select All
                  </label>
                  <ul class="nested">
                    <li>
                      <label>
                      {{multiSelect.checkbox
                          value='C1-4'
                          checked=c14}} C1-4
                      </label>
                    </li>
                    <li>
                      <label>
                      {{multiSelect.checkbox
                          value='C2-4'
                          checked=c24}} C2-4
                      </label>
                    </li>
                    <li>
                      <label>
                      {{multiSelect.checkbox
                          value='C2-2'
                          checked=c22}} C2-2
                      </label>
                    </li>
                    <li>
                      <label>
                      {{multiSelect.checkbox
                          value='C1-3'
                          checked=c13}} C1-3
                      </label>
                    </li>
                    <li>
                      <label>
                      {{multiSelect.checkbox
                          value='C2-3'
                          checked=c23}} C2-3
                      </label>
                    </li>
                  </ul>
                </li>
              </ul>
          {{/group.multi-select-control}}
        {{/if}} --}}
      {{/map.layer-group}}

      {{#map.layer-group config=layerGroups.zma visible=qps.zma as |group|}}
{{!--         {{#if group.visible}}
          {{group.timeline-control
              column='effective'
              query-param='zma-effective'}}
        {{/if}} --}}
      {{/map.layer-group}}

      {{map.layer-group config=layerGroups.zmacert}}

      {{map.layer-group config=layerGroups.sp visible=qps.sp}}

      {{map.layer-group config=layerGroups.spsd visible=qps.spsd}}

      {{map.layer-group config=layerGroups.mih visible=qps.mih}}

      {{map.layer-group config=layerGroups.ih visible=qps.ih}}

      {{map.layer-group config=layerGroups.tz visible=qps.tz}}

      {{map.layer-group config=layerGroups.fresh visible=qps.fresh}}

      {{map.layer-group config=layerGroups.sidewalkcafes visible=qps.sidewalkcafes}}

      {{map.layer-group config=layerGroups.ldgma visible=qps.ldgma}}

      {{map.layer-group config=layerGroups.czb visible=qps.czb}}

      {{map.layer-group config=layerGroups.wap visible=qps.wap}}

      {{map.layer-group config=layerGroups.sceniclandmarks visible=qps.sceniclandmarks}}

      {{map.layer-group config=layerGroups.historicdistricts visible=qps.historicdistricts}}

      {{map.layer-group config=layerGroups.landmarkpoints visible=qps.landmarkpoints}}

      {{map.layer-group config=layerGroups.subway visible=qps.subway}}

      {{map.layer-group config=layerGroups.aerials16 visible=qps.aerials16}}
{{!-- 
  {{#if zmaSourcePromise.last.isSuccessful}}
    {{#map.source
      sourceId='zma'
      options=zmaSource as |source|}}
      {{source.layer
        layer=zmaFillLayer
        before='waterway-label'}}
    {{/map.source}}
  {{/if}} --}}

  {{#if mapMouseover.highlightedLotFeatures}}
    {{#map.source
      sourceId='highlighted-lot'
      options=mapMouseover.highlightedLotSource as |source|}}
      {{source.layer
        layer=highlightedLotLayer
        before='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{hover-tooltip}}

  {{#if mainMap.selected}}
    {{#map.source
      sourceId='selected-lot'
      options=selectedLotSource as |source|}}
      {{source.layer
        layer=selectedLotLayer
        after='waterway-label'}}
    {{/map.source}}
  {{/if}}

  {{map.call 'fitBounds' mainMap.bounds fitBoundsOptions}}
  {{map.on 'click' (action routeToLot)}}
  {{map.on 'data' (action 'mapLoading')}}
  {{map.on 'mousemove' (action 'handleMouseover')}}
  {{map.on 'mouseout' (action 'handleMouseleave')}}

{{/mapbox-gl}}
