{{input type='text' placeholder='Search...' value=searchTerms}}
{{#if searchTerms}}
  <button class="close-button" aria-label="Clear Search" type="button" {{action 'clear'}}>
    <span aria-hidden="true">&times;</span>
  </button>
{{/if}}


<ul class="search-results no-bullet {{if resultsCount 'has-results'}}">
  {{#if (is-fulfilled results)}}
  {{#each-in (group-by "type" results.value) as |type rows|}}
    <li>
      {{#if (eq type 'lot')}}
        <h4 class="header-small results-header">Show Tax Lot Details</h4>
      {{else if (eq type 'zma')}}
        <h4 class="header-small results-header">Show Zoning Change Details</h4>
      {{else}}
        <h4 class="header-small results-header">Zoom to Address</h4>
      {{/if}}
    </li>
    {{#each rows as |result|}}
      <li class="result {{if (eq selected index) 'highlighted-result'}}" {{action 'goTo' result}}>
        {{#if (eq type 'lot')}}
           {{fa-icon "map-marker"}} {{result.bbl}} <span class="subdued">{{result.label}}</span>
        {{else if (eq type 'zma')}}
          {{fa-icon "folder-open"}} {{result.ulurpno}} <span class="subdued">{{result.label}}</span>
        {{else}}
          {{fa-icon "arrow-circle-right"}} {{result.label}}
        {{/if}}
      </li>
    {{/each}}
 {{/each-in}}
 {{/if}}

</ul>
{{#if (is-pending results)}}
  <div class="search-results--loading">Loading...</div>
{{/if}}

{{#if (and searchTerms (not resultsCount) (is-fulfilled results))}}
  <div class="search-results--loading">No Results Found</div>
{{/if}}
{{yield}}
