<ul class="layer-menu-item--group-checkboxes {{classNames}}">
  {{#each layers as |layer|}}
    <li {{action 'switchLayer' layer.layer.id}}>
      <label>
        <span class="{{if (mut (get qps layer.layer.id)) '' 'medium-gray'}}">
          {{fa-icon (if (mut (get qps layer.layer.id)) "dot-circle-o" "circle-o")}}
        </span>
        {{layer.displayName}}
      </label>
    </li>
  {{/each}}
</ul>
{{yield}}
