<header role="banner">
  <a href="https://planninglabs.nyc/" class="labs-beta-notice hide-for-print">A beta project of NYC Planning Labs</a>
  <div class="grid-x grid-padding-x">
    <div class="branding cell shrink large-auto">
      <a class="dcp-link" href="http://www1.nyc.gov/site/planning/index.page"><img class="dcp-logo" src="https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png" alt="NYC Planning"></a>
      {{#link-to 'index' classNames='site-name' click=(action resetAll)}}ZoLa <small class="site-subtitle show-for-medium">N<span class="show-for-large">ew </span>Y<span class="show-for-large">ork </span>C<span class="show-for-large">ity</span>&rsquo;s Zoning &amp; Land Use Map</small>{{/link-to}}
    </div>
    <div class="cell auto hide-for-large text-right">
      <button {{action (mut closed) (not closed)}} class="responsive-nav-toggler hide-for-print" data-toggle="responsive-menu">Menu</button>
    </div>
    <div id="responsive-menu" class="cell large-shrink {{if closed 'show-for-large'}} hide-for-print" data-toggler=".show-for-large">
      <nav role="navigation">
        <ul class="vertical large-horizontal menu">
          <li>{{link-to 'About' 'about' click=(action (mut closed))}}</li>
          <li>{{link-to 'Features' 'features' click=(action (mut closed))}}</li>
          <li>{{link-to 'Data' 'data' click=(action (mut closed))}}</li>
       

          <li class="saved-bookmarks-counter">
            {{#link-to 'bookmarks' click=(action (mut closed))}}{{fa-icon "bookmark"}}
              Saved
              {{#if count}}
                <span class="badge sup">{{count}}</span>
              {{/if}}
            {{/link-to}}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
{{yield}}
