<div class="slideshow-content">
  {{#if (eq @slideNumber 1)}}
    <div class="slide">
      <p>Access what you're looking for more quickly using your <strong>search history</strong></p>
      <img src="/img/slideshow/search-history.gif" alt="A video showing the search history functionality" />
    </div>
  {{else if (eq @slideNumber 2)}}
    <div class="slide">
      <p>See more of the map by <strong>hiding the layers menu</strong></p>
      <img src="/img/slideshow/toggle-sidebar.gif" alt="A video showing the sidebar toggle functionality" />
    </div>
  {{else if (eq @slideNumber 3)}}
    <div class="slide">
      <p><strong>Select two tax lots</strong> for side-by-side comparison</p>
      <img src="/img/slideshow/side-by-side.gif" alt="A video showing the tax lot comparison functionality" />
    </div>
  {{else if (eq @slideNumber 4)}}
    <div class="slide">
      <p><strong>Turn off all layers</strong> with the click of a button</p>
      <img src="/img/slideshow/toggle-all-layers-off.gif" alt="A video showing the all layer toggle button functionality" />
    </div>
  {{else if (eq @slideNumber 5)}}
    <div class="slide">
      <p><strong>Bookmark your selected layers</strong> to return to later</p>
      <img src="/img/slideshow/bookmark-layer-sets.gif" alt="A video showing the layer bookmark functionality" />
    </div>
  {{else if (eq @slideNumber 6)}}
    <div class="slide">
      <p>Sum the area or distance of <strong>multiple measurements</strong></p>
      <img src="/img/slideshow/multiple-measurements.gif" alt="A video showing the multiple measurement functionality" />
    </div>
  {{else if (eq @slideNumber 7)}}
    <div class="slide">
      <p><strong>New links</strong> to sites related to the selected tax lot</p>
      <img src="/img/slideshow/relevant-links.gif" alt="A video showing the relevant links functionality" />
    </div>
  {{else if (eq @slideNumber 8)}}
    <div class="slide">
      <p><strong>Navigate the official NYC Zoning Maps</strong> with our interactive index filter</p>
      <img src="/img/slideshow/zoning-map-index.gif" alt="A video showing the Zoning Map Index functionality" />
    </div>
  {{else if (eq @slideNumber 9)}}
  <div class="slide">
    <p>View 50-foot transit station-adjacent areas with the <strong>Zoning for Accessibility</strong> layer—now available in the map panel.</p>
    <img src="/img/slideshow/zoning-for-accessibility.gif" alt="A video showing the Zoning for Accessibility functionality" />
  </div>
  {{/if}}
</div>
