{{#if this.model.histdist}}
  <li>
    <a
      target="_blank"
      href="http://www1.nyc.gov/site/lpc/about/landmark-designation.page"
    >
      {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
      Historic District
    </a>
    <small class="dark-gray">
      {{this.model.histdist}}
    </small>
  </li>
{{/if}}

{{#if this.model.firm07_fla}}
  <li>
    <a
      target="_blank"
      href="http://www1.nyc.gov/site/planning/zoning/districts-tools/flood-text.page"
    >
      {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
      Flood Zone
    </a>
    <small class="dark-gray">
      Effective Flood Insurance Rate Maps 2007
    </small>
  </li>
{{/if}}

{{#if this.model.pfirm15_fl}}
  <li>
    <a
      target="_blank"
      href="http://www1.nyc.gov/site/planning/zoning/districts-tools/flood-text.page"
    >
      {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
      Flood Zone
    </a>
    <small class="dark-gray">
      Preliminary Flood Insurance Rate Maps 2015
    </small>
  </li>
{{/if}}

{{#if this.model.edesignum}}
  <li>
    <a
      target="_blank"
      href="http://www.nyc.gov/html/oer/html/e-designation/e-designation.shtml"
    >
      {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
      Environmental Designation
    </a>
  </li>
{{/if}}

<IntersectingLayers
  @tables={{this.tables}}
  @bbl={{this.model.bbl}} as |layers numberIntersecting|
>
  {{#if layers.inclusionary_housing}}
    <li>
      <a
        target="_blank"
        href="http://www1.nyc.gov/site/planning/zoning/districts-tools/inclusionary-housing.page"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Inclusionary Housing Zone
      </a>
    </li>
  {{/if}}
  {{#if layers.transitzones}}
    <li>
      <a
        target="_blank"
        href="http://www1.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Transit Zone
      </a>
    </li>
  {{/if}}
  {{#if layers.fresh_zones}}
    <li>
      <a
        target="_blank"
        href="http://www1.nyc.gov/site/planning/zoning/districts-tools/fresh-food-stores.page"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        FRESH Zone
      </a>
    </li>
  {{/if}}
  {{#if layers.waterfront_access_plan}}
    <li>
      <a
        target="_blank"
        href="http://www1.nyc.gov/site/planning/zoning/districts-tools/waterfront-zoning.page#waterfront_access_plan"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Waterfront Access Plan
      </a>
    </li>
  {{/if}}
  {{#if layers.upland_waterfront_areas}}
    <li>
      <a
        target="_blank"
        href="https://www1.nyc.gov/site/planning/zoning/districts-tools/waterfront-zoning.page"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Waterfront Block
      </a>
    </li>
  {{/if}}
  {{#if layers.coastal_zone_boundary}}
    <li>
      <a
        target="_blank"
        href="http://www1.nyc.gov/site/planning/applicants/wrp/wrp.page"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Coastal Zone
      </a>
    </li>
  {{/if}}
  {{#if layers.lower_density_growth_management_areas}}
    <li>
      <a
        target="_blank"
        href="http://www1.nyc.gov/site/planning/zoning/districts-tools/lower-density-growth-mngmt.page"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Lower Density Growth Management Zone
      </a>
    </li>
  {{/if}}
  {{#if layers.mandatory_inclusionary_housing}}
    <li>
      <a
        target="_blank"
        href="https://www1.nyc.gov/site/planning/plans/mih/mandatory-inclusionary-housing.page"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Mandatory Inclusionary Housing Area
      </a>
    </li>
  {{/if}}
  {{#if layers.appendixj_designated_mdistricts}}
    <li>
      <a
        target="_blank"
        href="https://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-text/appendixj.pdf"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        Appendix J Designated M District
      </a>
    </li>
  {{/if}}
  {{#unless (or numberIntersecting this.model.histdist this.model.firm07_fla this.model.pfirm15_fl this.model.edesignum)}}
    None found
  {{/unless}}
</IntersectingLayers>
