<div class="layer-group-toggle-header layer-{{dasherize this.label}}">
  <div class="grid-x">
    <div class="cell auto ">
      {{#unless this.fastboot.isFastBoot}}
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if this.active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
      {{/unless}}
      <span {{action 'toggle' preventDefault=false}} class="layer-group-toggle-label" role="button">
        {{this.label}}
        {{#if this.active}}
          {{#if this.icon}}
            {{labs-ui/legend-icon icon=this.icon}}
          {{/if}}
        {{/if}}
      </span>
    </div>
    <div class="cell shrink layer-group-toggle-icons">
      {{#if (and this.activeTooltip this.active)}}
        {{labs-ui/icon-tooltip
          tip=this.activeTooltip
          icon=this.activeTooltipIcon
          side='left'
          fixedWith=true
        }}
      {{/if}}
      {{#if this.infolink}}
        <a
          href="{{this.infolink}}" target="_blank" class="info-link"
          onclick={{action this.captureOutboundLink this.label preventDefault=false}} rel="noopener noreferrer"
        >
          <FaIcon @icon={{this.infoLinkIcon}}
            @fixedWidth="true"
          />
        </a>
      {{/if}}
      {{#if this.tooltip}}
        {{labs-ui/icon-tooltip
          tip=this.tooltip
          icon=this.tooltipIcon
          side='left'
          fixedWidth=true
        }}
      {{/if}}
    </div>
  </div>
</div>
{{#if this.active}}
  <div class="layer-group-toggle-content">
    {{#unless this.fastboot.isFastBoot}}
      {{yield}}
    {{/unless}}
  </div>
{{/if}}
