<div class="layer-group-toggle-header layer-{{dasherize label}}">
  <div class="grid-x">
    <div class="cell auto ">
      {{#if (not fastboot.isFastBoot)}}
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
      {{/if}}
      <span {{action 'toggle' preventDefault=false}} class="layer-group-toggle-label" role="button">
        {{label}}
        {{#if active}}
          {{#if icon}}
            {{labs-ui/legend-icon icon=icon}}
          {{/if}}
        {{/if}}
      </span>
    </div>
    <div class="cell shrink layer-group-toggle-icons">
      {{#if (and activeTooltip active)}}
        {{labs-ui/icon-tooltip
          tip=activeTooltip
          icon=activeTooltipIcon
          side='left'
          fixedWith=true
        }}
      {{/if}}
      {{#if infolink}}
        <a
          href="{{infolink}}" target="_blank" class="info-link"
          onclick={{action this.captureOutboundLink label preventDefault=false}}
        >
          <FaIcon @icon=infoLinkIcon
            @fixedWidth=true
          />
        </a>
      {{/if}}
      {{#if tooltip}}
        {{labs-ui/icon-tooltip
          tip=tooltip
          icon=tooltipIcon
          side='left'
          fixedWidth=true
        }}
      {{/if}}
    </div>
  </div>
</div>
{{#if active}}
  <div class="layer-group-toggle-content">
    {{#if (not fastboot.isFastBoot)}}
      {{yield}}
    {{/if}}
  </div>
{{/if}}
