<h3>
  {{humanize-dasherized-words this.bookmarkType}}
</h3>
<ul class="no-bullet">
  {{#each this.items as |item|}}
    <li class="list-item-bookmark">
      <LinkTo
        @route={{concat 'map-feature.' this.bookmarkType}}
        @model={{item.bookmark.id}}
      >
        <span class="icon polygon"></span>
        {{#if item.bookmark.formattedTitle.length}}
          {{item.bookmark.formattedTitle}}
        {{else}}
          {{item.bookmark.title}}
        {{/if}}
        <span class="dark-gray">
          {{item.bookmark.subtitle}}
        </span>
      </LinkTo>
      <button
        class="float-right lu-red delete-bookmark-button" type="button" {{action this.deleteBookmark item}}
      >
        &times;
      </button>
    </li>
  {{/each}}
</ul>
