<label class="header-type">
  Special Purpose District
  <span class="medium-gray">
    |
  </span>
  {{this.model.sdlbl}}
</label>
<h1 class="header-large">
  {{this.model.sdname}}
</h1>
<p>
  Since 1969, the City Planning Commission has designated special zoning districts in response to areas of the City with unique characteristics. Each special district stipulates zoning requirements and incentives tailored to specific conditions that may not lend themselves to generalized zoning and standard development.
</p>
{{#if (eq this.model.sdname 'Special Inwood District')}}
  <div class="callout secondary">
    <p>{{fa-icon 'exclamation-triangle' class='orange-muted'}} Note: All zoning regulations pertaining to the Special Inwood District Rezoning, which amended the Zoning Resolution (N 180205A ZRM) and Zoning Map (C 180204A ZMM), and which have been in effect since 8/8/18, are no longer in effect as of 12/19/19 per court order. For the applicable zoning designations currently in effect, please see zoning maps <a href="https://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-maps/map1b.pdf" target="_blank">1b</a>, <a href="https://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-maps/map1d.pdf" target="_blank">1d</a>, <a href="https://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-maps/map3a.pdf" target="_blank">3a</a>, and <a href="https://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-maps/map3c.pdf" target="_blank">3c</a>.</p>
  </div>
{{/if}}
<p>
  <a href="{{this.model.readMoreLink}}" target="_blank">
    {{fa-icon "external-link-alt"}}
    Learn more&hellip;
  </a>
</p>
{{yield}}
