<label class="header-label clearfix">
  TAX LOT
  <span class="medium-gray">
    |
  </span>
  BBL
  <span
    data-test-tax-lot-bbl
  >
    {{this.model.bbl}}
  </span>
</label>
<h1 class="content-header">
  {{#if this.model.landmark}}
    <span class="landmark">
      {{this.model.landmark}}
    </span>
  {{/if}}
  <span class="address">
    {{this.model.address}}, {{this.model.zipcode}}
  </span>
</h1>
<p class="text-small dark-gray">
  {{this.model.boroname}}&nbsp;(Borough {{this.model.borocode}})

  <span class="pipe">
    |
  </span>
  Block
  {{this.model.block}}
  <span class="pipe">
    |
  </span>
  Lot
  {{this.model.lot}}
</p>
{{#if this.model.zonedist1}}
  <ul class="lot-zoning-list">
    <li class="menu-text">
      {{#if (or this.model.zonedist2 this.model.spdist1)}}
        Zoning Districts:
      {{else}}
        Zoning District:
      {{/if}}
    </li>
    {{#unless (eq this.model.zonedist1 "BPC")}}
      <li>
        <a
          target="_blank"
          href={{this.model.zoneDistLinks.primaryzone1}}
          onclick={{action this.captureOutboundLink "Zoning District" preventDefault=false}}
          class="button"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist1}}
        </a>
      </li>
    {{/unless}}
    {{#if this.model.zonedist2}}
      <li>
        <a
          target="_blank"
          href={{this.model.zoneDistLinks.primaryzone2}}
          onclick={{action this.captureOutboundLink "Zoning District" preventDefault=false}}
          class="button"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist2}}
        </a>
      </li>
    {{/if}}
    {{#if this.model.zonedist3}}
      <li>
        <a
          target="_blank"
          href={{this.model.zoneDistLinks.primaryzone3}}
          onclick={{action this.captureOutboundLink "Zoning District" preventDefault=false}}
          class="button"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist3}}
        </a>
      </li>
    {{/if}}
    {{#if this.model.zonedist4}}
      <li>
        <a
          target="_blank"
          href={{this.model.zoneDistLinks.primaryzone4}}
          onclick={{action this.captureOutboundLink "Zoning District" preventDefault=false}}
          class="button"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist4}}
        </a>
      </li>
    {{/if}}
    {{#each
      (await this.model.parentSpecialPurposeDistricts) as |specialDistrict|
    }}
      <li
        data-test-special-district
      >
        {{#if specialDistrict.anchorName}}
          <a
            target="_blank"
            href="https://www1.nyc.gov/site/planning/zoning/districts-tools/special-purpose-districts-{{specialDistrict.boroName}}.page#{{specialDistrict.anchorName}}"
            onclick={{action this.captureOutboundLink "Special Purpose District" preventDefault=false}}
            class="button"
          >
            {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
            {{specialDistrict.label}}
          </a>
        {{else}}
          <a class="button">
            {{specialDistrict.label}}
          </a>
        {{/if}}
      </li>
    {{/each}}
    {{#if this.model.overlay1}}
      <li>
        <a
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/c1-c2-overlays.page"
          target="_blank"
          class="button"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.overlay1}}
        </a>
      </li>
    {{/if}}
    {{#if this.model.overlay2}}
      <li>
        <a
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/c1-c2-overlays.page"
          target="_blank"
          class="button"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.overlay2}}
        </a>
      </li>
    {{/if}}
  </ul>
{{/if}}
<section class="dynamic-lists">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-shrink">
      <h6 class="">
        Intersecting Map Layers
        <LabsUi::IconTooltip
          @tip="These intersections should be independently verified and should not be relied upon to determine the zoning rules applicable to a property."
        />
        :
      </h6>
      <ul class="no-bullet text-small">
        <LayerRecordViews::TaxLot::IntersectingLayersViews
          @model={{this.model}}
        />
      </ul>
    </div>
    <div class="cell medium-shrink">
      <h6 class="no-margin-">
        Zoning Details:
      </h6>
      <ul class="no-bullet text-small">
        {{#if this.model.bbl}}
          <li>
            <a
              target="_blank"
              href={{this.model.digitalTaxMapLink}}
              onclick={{action this.captureOutboundLink "Digital Tax Map" preventDefault=false}}
            >
              {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
              Digital Tax Map
            </a>
          </li>
        {{/if}}
        {{#if this.model.zonemap}}
          <li>
            <a
              target="_blank"
              href={{this.model.zoningMapLink}}
              onclick={{action this.captureOutboundLink "Zoning Map" preventDefault=false}}
            >
              {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
              Zoning Map:
              {{this.model.zonemap}}
              <small>
                (PDF)
              </small>
            </a>
          </li>
        {{/if}}
        {{#if this.model.zonemap}}
          <li>
            <a
              target="_blank"
              href={{this.model.historicalZoningMapLink}}
              onclick={{action this.captureOutboundLink "Historical Zoning Maps" preventDefault=false}}
            >
              {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
              Historical Zoning Maps
              <small>
                (PDF)
              </small>
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</section>
<hr class="hide-for-print" />
<section class="lot-details">
  {{#if this.model.ownertypename}}
    <div class="data-grid">
      <label class="data-label">
        Owner Type
      </label>
      <span class="datum">
        {{#if this.model.ownertypename}}
          {{this.model.ownertypename}}
        {{else}}
          Unknown/Private
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.ownername}}
    <div class="data-grid">
      <label class="data-label">
        Owner
      </label>
      <span class="datum">
        <RecaptchaBlock @buttonText="Show Owner">
          {{this.model.ownername}}
        </RecaptchaBlock>
      </span>
    </div>
  {{/if}}
  {{#if this.model.landusename}}
    <div class="data-grid">
      <label class="data-label">
        Land Use
      </label>
      <span class="datum">
        {{this.model.landusename}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.lotarea}}
    <div class="data-grid">
      <label class="data-label">
        Lot Area
      </label>
      <span class="datum">
        {{#if this.model.lotarea}}
          {{concat (numeral-format this.model.lotarea "0,0") " sq ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.lotfront}}
    <div class="data-grid">
      <label class="data-label">
        Lot Frontage
      </label>
      <span class="datum">
        {{#if this.model.lotfront}}
          {{concat this.model.lotfront " ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.lotdepth}}
    <div class="data-grid">
      <label class="data-label">
        Lot Depth
      </label>
      <span class="datum">
        {{#if this.model.lotdepth}}
          {{concat this.model.lotdepth " ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.yearbuilt}}
    <div class="data-grid">
      <label class="data-label">
        Year Built
      </label>
      <span class="datum">
        {{this.model.yearbuilt}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.yearalter1}}
    <div class="data-grid">
      <label class="data-label">
        Year
        {{if this.model.yearalter2 "s"}}
        Altered
      </label>
      <span class="datum">
        {{this.model.yearalter1}}
        {{#if this.model.yearalter2}}
          {{concat ", " this.model.yearalter2}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.bldgclassname}}
    <div class="data-grid">
      <label class="data-label">
        Building Class
      </label>
      <span class="datum">
        {{this.model.bldgclassname}}
        {{#if this.model.bldgclass}}
          <span class="dark-gray">
            (
            {{this.model.bldgclass}}
            )
          </span>
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.numbldgs}}
    <div class="data-grid">
      <label class="data-label">
        Number of Buildings
      </label>
      <span class="datum">
        {{this.model.numbldgs}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.numfloors}}
    <div class="data-grid">
      <label class="data-label">
        Number of Floors
      </label>
      <span class="datum">
        {{this.model.numfloors}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.bldgarea}}
    <div class="data-grid">
      <label class="data-label">
        Gross Floor Area
      </label>
      <span class="datum">
        {{#if this.model.bldgarea}}
          {{concat (numeral-format this.model.bldgarea "0,0") " sq ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.unitstotal}}
    <div class="data-grid">
      <label class="data-label">
        Total # of Units
      </label>
      <span class="datum">
        {{this.model.unitstotal}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.unitsres}}
    <div class="data-grid">
      <label class="data-label">
        Residential Units
      </label>
      <span class="datum">
        {{this.model.unitsres}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.condono}}
    <div class="data-grid">
      <label class="data-label">
        Condominium Number
      </label>
      <span class="datum">
        {{this.model.condono}}
      </span>
    </div>
  {{/if}}
  <div class="data-grid">
    <label class="data-label">
      Building Info
      <span>
        {{fa-icon icon="info-circle"}}
        <EmberTooltip
          @text="View this lot's building listing on the NYC Department of Buildings' Building Information System (BISWEB) Application"
          @side="right"
        />
      </span>
    </label>
    <span class="datum">
      <a
        href={{this.model.biswebLink}}
        onclick={{action this.captureOutboundLink "BISWEB" preventDefault=false}}
        target="_blank"
      >
        {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
        BISWEB
      </a>
    </span>
  </div>
  {{#if this.model.borocode}}
    <div class="data-grid">
      <label class="data-label">
        Property Records
        <span>
          {{fa-icon icon="info-circle"}}
          <EmberTooltip
            @text="View this lot's property records from 1966 to the present on the NYC Department of Finance's Automated City Register Information System (ACRIS)."
            @side="right"
          />
        </span>
      </label>
      <span class="datum">
        <a
          href={{this.model.ACRISLink}}
          onclick={{action this.captureOutboundLink "ACRIS" preventDefault=false}}
          target="_blank"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          View ACRIS
        </a>
      </span>
    </div>
  {{/if}}
  {{#if (and this.model.borocode this.model.address)}}
    <div class="data-grid">
      <label class="data-label">
        Housing Info
        <span>
        {{fa-icon icon="info-circle"}}
        <EmberTooltip
          @text="View additional information about the buildings on this lot, including Building, Registration & Violation Records by searching on the NYC Department of Housing Preservation & Development's online portal."
          @side="right"
        />
      </span>
      </label>
      <span class="datum">
        <a
          href="https://hpdonline.nyc.gov/hpdonline/"
          onclick={{action this.captureOutboundLink "Housing Info" preventDefault=false}}
          target="_blank"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          View HPD's Building, Registration & Violation Records
        </a>
      </span>
    </div>
  {{/if}}
</section>
<section class="neighborhood-info">
  <h3 class="header-small lot-section-header hide-for-print">
    Neighborhood Information
  </h3>
  {{#if this.model.cdURLSegment}}
    <div class="data-grid">
      <label class="data-label">
        Community District
      </label>
      <span class="datum">
        <a
          href={{this.model.fullCommunityDistrictURL}}
          onclick={{action this.captureOutboundLink "Community District" preventDefault=false}}
          target="_blank"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.cdName}}
        </a>
      </span>
    </div>
  {{/if}}
  {{#if this.model.council}}
    <div class="data-grid">
      <label class="data-label">
        City Council District
      </label>
      <span class="datum">
        <a
          href={{this.model.councilLink}}
          onclick={{action this.captureOutboundLink "Council District" preventDefault=false}}
          target="_blank"
        >
          {{fa-icon icon="external-link-alt" transform="shrink-3 up-1"}}
          Council District
          {{this.model.council}}
        </a>
      </span>
    </div>
  {{/if}}
  {{#if this.model.schooldist}}
    <div class="data-grid">
      <label class="data-label">
        School District
      </label>
      <span class="datum">
        {{this.model.schooldist}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.policeprct}}
    <div class="data-grid">
      <label class="data-label">
        Police Precinct
      </label>
      <span class="datum">
        {{this.model.policeprct}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.firecomp}}
    <div class="data-grid">
      <label class="data-label">
        Fire Company
      </label>
      <span class="datum">
        {{this.model.firecomp}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.sanitboro}}
    <div class="data-grid">
      <label class="data-label">
        Sanitation Borough
      </label>
      <span class="datum">
        {{this.model.sanitboro}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.sanitdistr}}
    <div class="data-grid">
      <label class="data-label">
        Sanitation District
      </label>
      <span class="datum">
        {{this.model.sanitdistr}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.sanitsub}}
    <div class="data-grid">
      <label class="data-label">
        Sanitation Subsection
      </label>
      <span class="datum">
        {{this.model.sanitsub}}
      </span>
    </div>
  {{/if}}
</section>
<hr class="hide-for-print" />
<RoadView @lon={{this.model.lon}} @lat={{this.model.lat}} />
