<label class="header-label clearfix">
  TAX LOT
  <span class="medium-gray">
    |
  </span>
  BBL
  <span
    data-test-tax-lot-bbl
  >
    {{this.model.bbl}}
  </span>
</label>
<h1 class="content-header">
  {{#if this.model.landmark}}
    <span class="landmark">
      {{this.model.landmark}}
    </span>
  {{/if}}
  <span class="address">
    {{this.model.address}}, {{this.model.zipcode}}
  </span>
</h1>
<p class="text-small dark-gray">
  {{this.model.boroname}}&nbsp;(Borough {{this.model.borocode}})
  <span class="pipe">
    |
  </span>
  Block
  {{this.model.block}}
  <span class="pipe">
    |
  </span>
  Lot
  {{this.model.lot}}
</p>
{{#if this.model.zonedist1}}
  <ul class="lot-zoning-list">
    <li class="menu-text">
      {{#if (or this.model.zonedist2 this.model.spdist1)}}
        Zoning Districts:
      {{else}}
        Zoning District:
      {{/if}}
    </li>
    {{#unless (eq this.model.zonedist1 "BPC")}}
      <li>
        <a
          target="_blank"
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/
            {{this.model.primaryzone1}}
            .page"
          class="button"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist1}}
        </a>
      </li>
    {{/unless}}
    {{#if this.model.zonedist2}}
      <li>
        <a
          target="_blank"
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/
            {{this.model.primaryzone2}}
            .page"
          class="button"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist2}}
        </a>
      </li>
    {{/if}}
    {{#if this.model.zonedist3}}
      <li>
        <a
          target="_blank"
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/
            {{this.model.primaryzone3}}
            .page"
          class="button"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist3}}
        </a>
      </li>
    {{/if}}
    {{#if this.model.zonedist4}}
      <li>
        <a
          target="_blank"
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/
            {{this.model.primaryzone4}}
            .page"
          class="button"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.zonedist4}}
        </a>
      </li>
    {{/if}}
{{!--     {{#each
      (await this.model.parentSpecialPurposeDistricts) as |specialDistrict|
    }}
      <li>
        {{#if specialDistrict.anchorName}}
          <a
            target="_blank"
            href="https://www1.nyc.gov/site/planning/zoning/districts-tools/special-purpose-districts-
              {{specialDistrict.boroName}}
              .page#
              {{specialDistrict.anchorName}}"
            class="button"
          >
            {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
            {{specialDistrict.label}}
          </a>
        {{else}}
          <a class="button">
            {{specialDistrict.label}}
          </a>
        {{/if}}
      </li>
    {{/each}} --}}
    {{#if this.model.overlay1}}
      <li>
        <a
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/c1-c2-overlays.page"
          target="_blank"
          class="button"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.overlay1}}
        </a>
      </li>
    {{/if}}
    {{#if this.model.overlay2}}
      <li>
        <a
          href="https://www1.nyc.gov/site/planning/zoning/districts-tools/c1-c2-overlays.page"
          target="_blank"
          class="button"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.overlay2}}
        </a>
      </li>
    {{/if}}
  </ul>
{{/if}}
<section class="dynamic-lists">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-shrink">
      <h6 class="">
        Intersecting Map Layers
        <LabsUi::IconTooltip
          @tip="These intersections should be independently verified and should not be relied upon to determine the zoning rules applicable to a property."
        />
        :
      </h6>
      <ul class="no-bullet text-small">
        {{#if this.model.histdist}}
          <li>
            <a
              target="_blank"
              href="http://www1.nyc.gov/site/lpc/about/landmark-designation.page"
            >
              {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
              Historic District
            </a>
            <small class="dark-gray">
              {{this.model.histdist}}
            </small>
          </li>
        {{/if}}
{{!--         <IntersectingLayers
          @tables={{array
            "inclusionary_housing"
            "transitzones"
            "fresh_zones"
            "waterfront_access_plan"
            "coastal_zone_boundary"
            "lower_density_growth_management_areas"
            "floodplain_firm2007"
            "floodplain_pfirm2015"
            "mandatory_inclusionary_housing"
            "e_designations"
            "upland_waterfront_areas"
            "appendixj_designated_mdistricts"
          }}
          @bbl={{this.model.bbl}} as |layers numberIntersecting|
        >
          {{#if layers.inclusionary_housing}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/zoning/districts-tools/inclusionary-housing.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Inclusionary Housing Zone
              </a>
            </li>
          {{/if}}
          {{#if layers.transitzones}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/zoning/glossary.page#transit_zone"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Transit Zone
              </a>
            </li>
          {{/if}}
          {{#if layers.fresh_zones}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/zoning/districts-tools/fresh-food-stores.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                FRESH Zone
              </a>
            </li>
          {{/if}}
          {{#if layers.waterfront_access_plan}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/zoning/districts-tools/waterfront-zoning.page#waterfront_access_plan"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Waterfront Access Plan
              </a>
            </li>
          {{/if}}
          {{#if layers.upland_waterfront_areas}}
            <li>
              <a
                target="_blank"
                href="https://www1.nyc.gov/site/planning/zoning/districts-tools/waterfront-zoning.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Waterfront Block
              </a>
            </li>
          {{/if}}
          {{#if layers.coastal_zone_boundary}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/applicants/wrp/wrp.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Coastal Zone
              </a>
            </li>
          {{/if}}
          {{#if layers.lower_density_growth_management_areas}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/zoning/districts-tools/lower-density-growth-mngmt.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Lower Density Growth Management Zone
              </a>
            </li>
          {{/if}}
          {{#if layers.floodplain_firm2007}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/zoning/districts-tools/flood-text.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Flood Zone
              </a>
              <small class="dark-gray">
                Effective Flood Insurance Rate Maps 2007
              </small>
            </li>
          {{/if}}
          {{#if layers.floodplain_pfirm2015}}
            <li>
              <a
                target="_blank"
                href="http://www1.nyc.gov/site/planning/zoning/districts-tools/flood-text.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Flood Zone
              </a>
              <small class="dark-gray">
                Preliminary Flood Insurance Rate Maps 2015
              </small>
            </li>
          {{/if}}
          {{#if layers.mandatory_inclusionary_housing}}
            <li>
              <a
                target="_blank"
                href="https://www1.nyc.gov/site/planning/plans/mih/mandatory-inclusionary-housing.page"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Mandatory Inclusionary Housing Area
              </a>
            </li>
          {{/if}}
          {{#if layers.e_designations}}
            <li>
              <a
                target="_blank"
                href="http://www.nyc.gov/html/oer/html/e-designation/e-designation.shtml"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Environmental Designation
              </a>
            </li>
          {{/if}}
          {{#if layers.appendixj_designated_mdistricts}}
            <li>
              <a
                target="_blank"
                href="https://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-text/appendixj.pdf"
              >
                {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
                Appendix J Designated M District
              </a>
            </li>
          {{/if}}
          {{#unless (or numberIntersecting this.model.histdist)}}
            None found
          {{/unless}}
        </IntersectingLayers> --}}
      </ul>
    </div>
    <div class="cell medium-shrink">
      <h6 class="no-margin-">
        Zoning Details:
      </h6>
      <ul class="no-bullet text-small">
        {{#if this.model.bbl}}
          <li>
            <a
              target="_blank"
              href="http://maps.nyc.gov/taxmap/map.htm?searchType=BblSearch&featureTypeName=EVERY_BBL&featureName=
                {{this.model.bbl}}"
            >
              {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
              Digital Tax Map
            </a>
          </li>
        {{/if}}
        {{#if this.model.zonemap}}
          <li>
            <a
              target="_blank"
              href="http://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-maps/map
                {{this.model.zonemap}}
                .pdf"
            >
              {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
              Zoning Map:
              {{this.model.zonemap}}
              <small>
                (PDF)
              </small>
            </a>
          </li>
        {{/if}}
        {{#if this.model.zonemap}}
          <li>
            <a
              target="_blank"
              href="http://www1.nyc.gov/assets/planning/download/pdf/zoning/zoning-maps/historical-zoning-maps/maps
                {{this.model.paddedZonemap}}
                .pdf"
            >
              {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
              Historical Zoning Maps
              <small>
                (PDF)
              </small>
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</section>
<hr class="hide-for-print" />
<section class="lot-details">
  {{#if this.model.ownertypename}}
    <div class="data-grid">
      <label class="data-label">
        Owner Type
      </label>
      <span class="datum">
        {{#if this.model.ownertypename}}
          {{this.model.ownertypename}}
        {{else}}
          Unknown/Private
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.ownername}}
    <div class="data-grid">
      <label class="data-label">
        Owner
      </label>
      <span class="datum">
        {{this.model.ownername}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.landusename}}
    <div class="data-grid">
      <label class="data-label">
        Land Use
      </label>
      <span class="datum">
        {{this.model.landusename}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.lotarea}}
    <div class="data-grid">
      <label class="data-label">
        Lot Area
      </label>
      <span class="datum">
        {{#if this.model.lotarea}}
          {{concat (numeral-format this.model.lotarea "0,0") " sq ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.lotfront}}
    <div class="data-grid">
      <label class="data-label">
        Lot Frontage
      </label>
      <span class="datum">
        {{#if this.model.lotfront}}
          {{concat this.model.lotfront " ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.lotdepth}}
    <div class="data-grid">
      <label class="data-label">
        Lot Depth
      </label>
      <span class="datum">
        {{#if this.model.lotdepth}}
          {{concat this.model.lotdepth " ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.yearbuilt}}
    <div class="data-grid">
      <label class="data-label">
        Year Built
      </label>
      <span class="datum">
        {{this.model.yearbuilt}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.yearalter1}}
    <div class="data-grid">
      <label class="data-label">
        Year
        {{if this.model.yearalter2 "s"}}
        Altered
      </label>
      <span class="datum">
        {{this.model.yearalter1}}
        {{#if this.model.yearalter2}}
          {{concat ", " this.model.yearalter2}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.bldgclassname}}
    <div class="data-grid">
      <label class="data-label">
        Building Class
      </label>
      <span class="datum">
        {{this.model.bldgclassname}}
        {{#if this.model.bldgclass}}
          <span class="dark-gray">
            (
            {{this.model.bldgclass}}
            )
          </span>
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.numbldgs}}
    <div class="data-grid">
      <label class="data-label">
        Number of Buildings
      </label>
      <span class="datum">
        {{this.model.numbldgs}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.numfloors}}
    <div class="data-grid">
      <label class="data-label">
        Number of Floors
      </label>
      <span class="datum">
        {{this.model.numfloors}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.bldgarea}}
    <div class="data-grid">
      <label class="data-label">
        Gross Floor Area
      </label>
      <span class="datum">
        {{#if this.model.bldgarea}}
          {{concat (numeral-format this.model.bldgarea "0,0") " sq ft"}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.unitstotal}}
    <div class="data-grid">
      <label class="data-label">
        Total # of Units
      </label>
      <span class="datum">
        {{this.model.unitstotal}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.unitsres}}
    <div class="data-grid">
      <label class="data-label">
        Residential Units
      </label>
      <span class="datum">
        {{this.model.unitsres}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.condono}}
    <div class="data-grid">
      <label class="data-label">
        Condominium Number
      </label>
      <span class="datum">
        {{this.model.condono}}
      </span>
    </div>
  {{/if}}
  <div class="data-grid">
    <label class="data-label">
      Building Info
      <span>
        {{fa-icon "info-circle"}}
        <EmberTooltip
          @text="View this lot's building listing on the NYC Department of Buildings' Building Information System (BISWEB) Application"
          @side="right"
        />
      </span>
    </label>
    <span class="datum">
      <a
        href="http://a810-bisweb.nyc.gov/bisweb/PropertyBrowseByBBLServlet?allborough=
          {{this.model.borocode}}
          &allblock=
          {{this.model.block}}
          &alllot=
          {{this.model.lot}}
          &go5=+GO+&requestid=0"
        target="_blank"
      >
        {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
        BISWEB
      </a>
    </span>
  </div>
  {{#if this.model.borocode}}
    <div class="data-grid">
      <label class="data-label">
        Property Records
        <span>
          {{fa-icon "info-circle"}}
          <EmberTooltip
            @text="View this lot's property records from 1966 to the present on the NYC Department of Finance's Automated City Register Information System (ACRIS)."
            @side="right"
          />
        </span>
      </label>
      <span class="datum">
        <a
          href="http://a836-acris.nyc.gov/bblsearch/bblsearch.asp?borough=
            {{this.model.borocode}}
            &block=
            {{this.model.block}}
            &lot=
            {{this.model.lot}}"
          target="_blank"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          View ACRIS
        </a>
      </span>
    </div>
  {{/if}}
  {{#if (and this.model.borocode this.model.address)}}
    <div class="data-grid">
      <label class="data-label">
        Housing Info
      </label>
      <span class="datum">
        <a
          href="https://hpdonline.hpdnyc.org/Hpdonline/Provide_address.aspx?p1=
            {{this.model.boro}}
            &p2=
            {{this.model.housenum}}
            &p3=
            {{this.model.street}}
            &SearchButton=Search"
          target="_blank"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          View HPD's Building, Registration & Violation Records
        </a>
      </span>
    </div>
  {{/if}}
</section>
<section class="neighborhood-info">
  <h3 class="header-small lot-section-header hide-for-print">
    Neighborhood Information
  </h3>
  {{#if this.model.cdURLSegment}}
    <div class="data-grid">
      <label class="data-label">
        Community District
      </label>
      <span class="datum">
        <a
          href="https://communityprofiles.planning.nyc.gov/
            {{this.model.cdURLSegment}}"
          target="_blank"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          {{this.model.cdName}}
        </a>
      </span>
    </div>
  {{/if}}
  {{#if this.model.council}}
    <div class="data-grid">
      <label class="data-label">
        City Council District
      </label>
      <span class="datum">
        <a
          href="https://council.nyc.gov/district-{{this.model.council}}/"
          target="_blank"
        >
          {{fa-icon "external-link-alt" transform="shrink-3 up-1"}}
          Council District
          {{this.model.council}}
        </a>
      </span>
    </div>
  {{/if}}
  {{#if this.model.schooldist}}
    <div class="data-grid">
      <label class="data-label">
        School District
      </label>
      <span class="datum">
        {{this.model.schooldist}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.policeprct}}
    <div class="data-grid">
      <label class="data-label">
        Police Precinct
      </label>
      <span class="datum">
        {{this.model.policeprct}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.firecomp}}
    <div class="data-grid">
      <label class="data-label">
        Fire Company
      </label>
      <span class="datum">
        {{this.model.firecomp}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.sanitboro}}
    <div class="data-grid">
      <label class="data-label">
        Sanitation Borough
      </label>
      <span class="datum">
        {{this.model.sanitboro}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.sanitdistr}}
    <div class="data-grid">
      <label class="data-label">
        Sanitation District
      </label>
      <span class="datum">
        {{this.model.sanitdistr}}
      </span>
    </div>
  {{/if}}
  {{#if this.model.sanitsub}}
    <div class="data-grid">
      <label class="data-label">
        Sanitation Subsection
      </label>
      <span class="datum">
        {{this.model.sanitsub}}
      </span>
    </div>
  {{/if}}
</section>
<hr class="hide-for-print" />
<RoadView @lon={{this.model.lon}} @lat={{this.model.lat}} />