<label class="header-type">
  ZONING DISTRICT
</label>
<h1 class="header-large">
  {{this.model.zonedist}}
</h1>
<p>
  {{this.model.description}}
</p>
{{#unless (eq this.model.zonedist "BPC")}}
  <p>
    <a
      href="https://www1.nyc.gov/site/planning/zoning/districts-tools/{{this.model.primaryzone}}.page"
      target="_blank"
    >
      {{fa-icon "external-link-alt"}}
      Learn more about
      {{this.model.zonedist}}
      districts&hellip;
    </a>
  </p>
{{else}}
  <p>
    <a
      href="https://www1.nyc.gov/site/planning/zoning/districts-tools/special-purpose-districts-manhattan.page#battery_park"
      target="_blank"
    >
      {{fa-icon "external-link-alt"}}
      Learn more about the Special Battery Park City District&hellip;
    </a>
  </p>
{{/unless}}
{{yield}}