<div class="section">
  <div class="text-box">
    {{#if (eq this.primaryzoneCode "C1-C2")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::C1-C2 />
    {{else if (eq this.primaryzoneCode "C3-C3A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::C3-C3a />
    {{else if (eq this.primaryzoneCode "C4")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::C4 />
    {{else if (eq this.primaryzoneCode "C5")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::C5 />
    {{else if (eq this.primaryzoneCode "C6")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::C6 />
    {{else if (eq this.primaryzoneCode "C7")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::C7 />
    {{else if (eq this.primaryzoneCode "C8")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::C8 />
    {{else if (eq this.primaryzoneCode "R1")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R1 />
    {{else if (eq this.primaryzoneCode "R2")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R2 />
    {{else if (eq this.primaryzoneCode "R2A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R2a />
    {{else if (eq this.primaryzoneCode "R2X")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R2x />
    {{else if (eq this.primaryzoneCode "R3-1")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R3-1 />
    {{else if (eq this.primaryzoneCode "R3-2")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R3-2 />
    {{else if (eq this.primaryzoneCode "R3A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R3a />
    {{else if (eq this.primaryzoneCode "R3X")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R3x />
    {{else if (eq this.primaryzoneCode "R4")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R4 />
    {{else if (eq this.primaryzoneCode "R4-1")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R4-1 />
    {{else if (eq this.primaryzoneCode "R4A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R4a />
    {{else if (eq this.primaryzoneCode "R4B")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R4b />
    {{else if (eq this.primaryzoneCode "R5")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R5 />
    {{else if (eq this.primaryzoneCode "R5A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R5a />
    {{else if (eq this.primaryzoneCode "R5B")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R5b />
    {{else if (eq this.primaryzoneCode "R5D")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R5d />
    {{else if (eq this.primaryzoneCode "R6")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R6 />
    {{else if (eq this.primaryzoneCode "R6A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R6a />
    {{else if (eq this.primaryzoneCode "R6B")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R6b />
    {{else if (eq this.primaryzoneCode "R7")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R7 />
    {{else if (eq this.primaryzoneCode "R7A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R7a />
    {{else if (eq this.primaryzoneCode "R7B")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R7b />
    {{else if (eq this.primaryzoneCode "R7D")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R7d />
    {{else if (eq this.primaryzoneCode "R7X")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R7x />
    {{else if (eq this.primaryzoneCode "R8")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R8 />
    {{else if (eq this.primaryzoneCode "R8A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R8a />
    {{else if (eq this.primaryzoneCode "R8B")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R8b />
    {{else if (eq this.primaryzoneCode "R8X")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R8x />
    {{else if (eq this.primaryzoneCode "R9")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R9 />
    {{else if (eq this.primaryzoneCode "R9A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R9a />
    {{else if (eq this.primaryzoneCode "R9D")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R9d />
    {{else if (eq this.primaryzoneCode "R9X")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R9x />
    {{else if (eq this.primaryzoneCode "R10")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R10 />
    {{else if (eq this.primaryzoneCode "R10A")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R10a />
    {{else if (eq this.primaryzoneCode "R10X")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::R10x />
    {{else if (eq this.primaryzoneCode "M1")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::M1 />
    {{else if (eq this.primaryzoneCode "M2")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::M2 />
    {{else if (eq this.primaryzoneCode "M3")}}
      <LayerRecordViews::ZoningDistrictLongDescriptions::M3 />
    {{/if}}
  </div>
</div>

<div class="footer">
  <small class="disclaimer"> 
    <strong class="title">Disclaimer</strong><br />
    <p style="margin-bottom: 0.25rem;">
      The Zoning Reference provides only general zoning information and is not meant to serve as a substitute for the actual regulations which are to be found in the <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/access-text.page">Zoning Resolution</a>.
    </p>
    <p style="margin-bottom: 0.25rem;">
      <img class="file_icon" src="https://www.nyc.gov/assets/planning/images/global/pdf_icon.gif" alt="PDF Document">
      Items accompanied by this symbol require the <a target="_blank" href="https://www.nyc.gov/html/misc/html/pdfhowto.html">free Adobe Acrobat Reader</a>.
    </p>
    <p style="margin-bottom: 0.25rem;">
      Brief explanations of terms in <a target="_blank" href="https://www.nyc.gov/site/planning/zoning/glossary.page" class="glossary">blue italics</a> can be viewed by clicking on the term.
    </p>
  </small>
</div>