{{!-- The way this component is setup is awkward... --}}
{{!-- For some reason the yield has to appear first before the --}}
{{!-- re-renderable stuff --}}

{{!-- see https://github.com/miguelcobain/ember-composability-tools/issues/9#issuecomment-288081556  --}}
{{#ember-wormhole to=this.elementId}}
  <div class="layer-groups-container-content">
    {{yield (hash
        layer-group-toggle=(component 'labs-ui/layer-group-toggle'
          willDestroyHook=(action 'unregisterChild')
          didInit=(action 'registerChild')
        )
      )
    }}
  </div>
{{/ember-wormhole}}

<div onclick={{action 'toggleLayerGroupsContainer'}}
  class="layer-groups-container-title
    {{if this.open 'open' 'closed'}}
    layer-groups-container--{{dasherize this.title}}"
  role="button"
>
  {{this.title}}

  {{#if this.numberMenuItems}}
    <span class="badge">
      {{this.numberMenuItems}}
    </span>
  {{/if}}

  {{#if (and this.mapIsLoading this.open this.numberMenuItems)}}
    {{fa-icon 'spinner' class='fa-spin medium-gray'}}
  {{/if}}
</div>

<div id={{this.elementId}}>
</div>
