<MainHeader @bookmarks={{model.bookmarks}} />
<div class="{{if this.printSvc.enabled "print-view"}}">
  {{link-to "" "index" class="index-active-detector"}}
  {{#if this.printSvc.enabled}}
    <PrintViewControls
      @printSvc={{printSvc}}
    />
  {{/if}}
  <div class="site-main grid-x {{this.printSvc.printViewClasses}}">
    <div class="navigation-area cell large-auto">
      <MapResourceSearch />
      <div class="map-grid">
        <Mapbox::LoadSpinner
          @map={{this.mainMap.mapInstance}}
        />

        <MainMap
          @bookmarks={{model.bookmarks}}
          @layerGroups={{model.layerGroups}}
          @layerGroupsMeta={{model.meta}}
          @onPrint={{action (mut this.printSvc.enabled) true}}
        />

        <LayerPalette
          @selectedZoning={{this.selectedZoning}}
          @selectedOverlays={{this.selectedOverlays}}
          @selectedFirm={{this.selectedFirm}}
          @selectedPfirm={{this.selectedPfirm}}
          @selectedCouncilDistricts={{this.selectedCouncilDistricts}}
          @layerGroups={{model.layerGroupsObject}}
          @isDefault={{isDefault}}
          @resetQueryParams={{action this.setModelsToDefault}}
          @handleLayerGroupChange={{action this.handleLayerGroupChange}}
        />
      </div>
    </div>
    {{outlet}}
  </div>
</div>
