{{#labs-ui/site-header
  responsiveNav=true
  as |banner|
}}
  {{#banner.title}}
    {{#link-to 'index' classNames='site-title' click=(action resetQueryParams)}}ZoLa <small class="site-subtitle show-for-medium">N<span class="show-for-large">ew </span>Y<span class="show-for-large">ork </span>C<span class="show-for-large">ity</span>&rsquo;s Zoning &amp; Land Use Map</small>{{/link-to}}
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical large-horizontal">
      <li>{{link-to 'About' 'about'}}</li>
      <li>{{link-to 'Features' 'features' classNames='features-header-link'}}</li>
      <li>{{link-to 'Data' 'data'}}</li>
      <li class="saved-bookmarks-counter">
        {{#link-to 'bookmarks'}}{{fa-icon "bookmark"}}
          Saved
          {{#if model.bookmarks.length}}
            <span class="badge sup">{{model.bookmarks.length}}</span>
          {{/if}}
        {{/link-to}}
      </li>
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x">
  <div class="navigation-area cell large-auto">
    <div class="search-container hide-for-print">
      {{labs-search
        onSelect=(action 'handleSearchSelect')
        typeTitleLookup = (hash
          lot='View Tax Lot Information'
          zma='View Zoning Change Information'
          neighborhood='Go to Neighborhood'
          zoning-district='View Zoning Districts'
          commercial-overlay='View Commerical Overlay'
          special-purpose-district='View Special Purpose District'
        )}}
      {{labs-bbl-lookup
        boro=boro
        block=block
        lot=lot
        flyTo=(action 'flyTo')}}
    </div>

    <div class="map-grid">
      {{main-map
        cartoSources=model.cartoSources
        transitionTo=(action 'transitionTo')
        bookmarks=model.bookmarks
        layerGroups=model.layerGroups
        layerGroupsObject=model.layerGroupsObject
        layerGroupsMeta=model.meta
        qps=qps
      }}

      {{layer-palette
        selectedZoning=selectedZoning
        selectedOverlays=selectedOverlays
        layerGroups=model.layerGroupsObject
        isDefault=isDefault
        resetQueryParams=(action 'resetQueryParams')}}
    </div>
  </div>
  {{outlet}}
</div>
