{{page-title "ZoLa | NYC&rsquo;s Zoning &amp; Land Use Map"}}

<MainHeader @bookmarks={{model.bookmarks}} />
<div class="{{if this.printSvc.enabled "print-view"}}">
  {{link-to "" "index" class="index-active-detector"}}
  {{#if this.printSvc.enabled}}
    <PrintViewControls
      @printSvc={{printSvc}}
    />
  {{/if}}
  <div class="site-main grid-x {{this.printSvc.printViewClasses}}">
    <div class="navigation-area cell large-auto">
      <MapResourceSearch />
      <div class="map-grid">
        <Mapbox::LoadSpinner
          @map={{this.mainMap.mapInstance}}
        />
        {{!-- 
          Prevent the map from loading if it's in fastboot. Right now, we don't have a good way
          to pre-render a map in node. For / and about /about views, this doesn't matter as much.
        --}}
        {{#if (not this.fastboot.isFastBoot)}}
          <MainMap
            @bookmarks={{model.bookmarks}}
            @layerGroups={{model.layerGroups}}
            @layerGroupsMeta={{model.meta}}
            @onPrint={{action (mut this.printSvc.enabled) true}}
          />
        {{/if}}
        <LayerPalette
          @selectedZoning={{this.selectedZoning}}
          @selectedOverlays={{this.selectedOverlays}}
          @selectedFirm={{this.selectedFirm}}
          @selectedPfirm={{this.selectedPfirm}}
          @layerGroups={{model.layerGroupsObject}}
          @isDefault={{isDefault}}
          @resetQueryParams={{action this.setModelsToDefault}}
          @handleLayerGroupChange={{action this.handleLayerGroupChange}}
        />
      </div>
    </div>
    {{outlet}}
  </div>
</div>
