<MainHeader @bookmarks={{this.model.bookmarks}} />
<div class="{{if this.printSvc.enabled "print-view"}}">
  <LinkTo @route="index" class="index-active-detector sr-only">Homepage</LinkTo>
  {{#if this.printSvc.enabled}}
    <PrintViewControls
      @printSvc={{this.printSvc}}
    />
  {{/if}}
  <div class="site-main grid-x {{this.printSvc.printViewClasses}}">
    <div class="navigation-area cell large-auto">
      <MapResourceSearch />
      <div class="map-grid">
        <Mapbox::LoadSpinner
          @map={{this.mainMap.mapInstance}}
        />

        <MainMap
          @bookmarks={{this.model.bookmarks}}
          @layerGroups={{this.model.layerGroups}}
          @layerGroupsMeta={{this.model.meta}}
          @onPrint={{action (mut this.printSvc.enabled) true}}
        />

        <LayerPalette
          @selectedZoning={{this.selectedZoning}}
          @selectedOverlays={{this.selectedOverlays}}
          @selectedFirm={{this.selectedFirm}}
          @selectedPfirm={{this.selectedPfirm}}
          @selectedCouncilDistricts={{this.selectedCouncilDistricts}}
          @layerGroups={{this.model.layerGroupsObject}}
          @isDefault={{this.isDefault}}
          @resetQueryParams={{action this.setModelsToDefault}}
          @handleLayerGroupChange={{action this.handleLayerGroupChange}}
        />
      </div>
    </div>
    {{outlet}}
  </div>
</div>
