{{site-header resetAll=(action 'resetAll')}}

<div class="site-main grid-x">
  <div class="navigation-area cell large-auto">
    {{map-search transitionTo=(action 'transitionTo')}}

    <div class="map-grid">
      {{main-map
        routeToLot=(action 'routeToLot')
        transitionTo=(action 'transitionTo')
        qps=qps
      }}
      {{log qpsDidChange}}
      {{layer-palette 
        qps=qps 
        resetQueryParams=(action 'resetQueryParams')}}
    </div>
  </div>
  {{outlet}}
</div>
