{{site-header resetAll=(action 'resetAll')}}
{{log model}}
<div class="site-main grid-x">
  <div class="navigation-area cell large-auto">
    {{map-search transitionTo=(action 'transitionTo')}}

    <div class="map-grid">
      {{main-map
        cartoSources=model
        routeToLot=(action 'routeToLot')
        transitionTo=(action 'transitionTo')
        qps=qps
      }}

      {{layer-palette
        qps=qps
        isDefault=isDefault
        resetQueryParams=(action 'resetQueryParams')}}
    </div>
  </div>
  {{outlet}}
</div>
