{{site-header}}

<div class="site-main grid-x">
  <div class="navigation-area auto cell large-7 xxlarge-8">
    {{map-search transitionTo=(action 'transitionTo')}}

    <div class="map-grid">
      {{main-map
        routeToLot=(action 'routeToLot')
        transitionTo=(action 'transitionTo')
        qps=qps
      }}
      {{layer-palette}}
    </div>
  </div>
  {{outlet}}
</div>
