{{site-header count=model.bookmarks.length resetAll=(action 'resetQueryParams')}}

<div class="site-main grid-x">
  <div class="navigation-area cell large-auto">
    <div class="search-container hide-for-print">
      {{map-search transitionTo=(action 'transitionTo') saveAddress=(action 'saveAddress')}}
      {{bbl-lookup transitionTo=(action 'transitionTo')}}
    </div>

    <div class="map-grid">
      {{main-map
        cartoSources=model.cartoSources
        routeToLot=(action 'routeToLot')
        transitionTo=(action 'transitionTo')
        bookmarks=model.bookmarks
        qps=qps
      }}

      {{layer-palette
        qps=qps
        isDefault=isDefault
        resetQueryParams=(action 'resetQueryParams')}}
    </div>
  </div>
  {{outlet}}
</div>
