<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  {{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}

  <h2>Data Sources</h2>

  {{log 'model' model}}


  {{#each model as |layerGroup|}}
    <h2 class="header-medium">{{layerGroup.title}}</h2>
    <p>{{layerGroup.meta.description}}</p>
    <p><a href="{{layerGroup.meta.url}}">{{layerGroup.meta.url}}</a></p>
    <p>Updated {{layerGroup.meta.updated_at}}</p>
  {{/each}}

  {{outlet}}

</div>
