<div class="content-close-button-container">{{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}</div>

<div class="content-area cell large-5 large-cell-block-y xxlarge-4">

  <h1>Data Sources</h1>

  <ul>
  {{#each model as |layerGroup|}}
    <li>
      <h2 class="header-medium no-margin">{{layerGroup.title}}</h2>
      <p>
        {{#if layerGroup.meta.description}}
          <span style="display:block;" class="dark-gray"><strong>{{layerGroup.meta.description}}</strong></span>
        {{/if}}
        {{#if layerGroup.meta.url}}
          {{#each layerGroup.meta.url as |url|}}
            <span style="display:block;" class="no-margin"><a href="{{url}}" target="_blank">{{fa-icon 'external-link'}} {{url}}</a></span>
          {{/each}}
        {{/if}}
        {{#if layerGroup.meta.updated_at}}
          <span style="display:block;" class="dark-gray text-small">Updated in ZoLa: {{layerGroup.meta.updated_at}}</span>
        {{/if}}
      </p>
    </li>
  {{/each}}
  </ul>

  <p>For more information on the licenses which govern OpenStreetMap, please refer to <a href="www.openstreetmap.org/copyright">www.openstreetmap.org/copyright</a></p>

  {{outlet}}

</div>
