<ul>
  <li>id: {{model.id}}</li>
  <li>yearbuilt: {{model.yearbuilt}}</li>
  <li>zonedist1: {{model.zonedist1}}</li>
  <li>zonedist2: {{model.zonedist2}}</li>
  <li>zonedist3: {{model.zonedist3}}</li>
  <li>zonedist4: {{model.zonedist4}}</li>
  <li>lotsize: {{model.lotarea}}</li>
</ul>
