
<label class="header-type">ZONING MAP AMENDMENT</label>
<h1 class="header-large">{{model.project_na}}</h1>

<div class="data-grid">
  <div class="data-cell"><label class="data-label">ULURP Number</label><span class="datum">{{model.id}}</span></div>
  <div class="data-cell"><label class="data-label">Effective</label><span class="datum">{{model.effective}}</span></div>
  <div class="data-cell"><label class="data-label">Status</label><span class="datum">{{model.status}}</span></div>
  <div class="data-cell"><label class="data-label">Lucats</label><span class="datum">{{model.lucats}}</span></div>
</div>
