<div class="content-area cell large-5 large-cell-block-y xxlarge-4">
  {{#link-to 'index' classNames='close-button'}}<span aria-hidden="true">&times;</span>{{/link-to}}

  <label class="header-type">ZONING DISTRICT</label>
  <h1 class="header-large">{{model.id}}</h1>
  <p>{{model.description}}</p>

  <p>
    {{!-- TODO: Add short description here. https://github.com/NYCPlanning/labs-zola/issues/189 --}}
    <br />
    <a href="https://www1.nyc.gov/site/planning/zoning/districts-tools/{{model.primaryzone}}.page" target="_blank">{{fa-icon "external-link"}} Learn more about {{model.id}} districts&hellip;</a>
  </p>

  <button {{action "fitBounds"}} class="button tiny hollow">Fit map to all {{model.id}} districts</button>
</div>

{{outlet}}
